#all {
background-color: #546875;
height: 100%;
width: 100%;
}

#header {
background-color: #829BB9;
color: white; 
text-align: center;
font-family: Aboreto, "Times New Roman", georgia;
height: 180px;
padding-top: 65px;
padding-bottom: 65px;
font-size: 25px;
letter-spacing: 3px;
}

#headertext {
color: white;
text-decoration: none;
}

#TRPheading {
position: relative;
text-align: center;
padding: 25px;
background-color:#546875;
} 

#TRP {
width: 50%;
}

#Commissions {
text-align: center;
font-size: 34px;
padding: 10px;
padding-bottom: 20px;
color: #FFE8AB;
background-color:#546875;
}

#commish {
width: 70%;
padding-left: 157px;
font-size: 20px;
color: #FFE8AB;
background-color:#546875;
clear: both;
}

#TRPsketch {
width: 40%;
float: right;
padding: 15px;
margin: 10px 0 10px 10px;
background-color: #A4BECF;
}

#TRPoilsketch {
width: 40%;
float: left;
padding: 15px;
margin: 20px 15px 20px 0;
background-color: #A4BECF;
}

#TRPprogress {
width: 40%;
float: right;
padding: 15px;
margin: 20px 0 31px 10px;
background-color: #A4BECF;
}

#Home {
position: relative;
clear: both;
text-align: center;
font-size: 25px;
color: #FFE8AB;
background-color: #829BB9;
padding: 10px;
text-decoration: underline
}

#portfolio {
color: #FFE8AB;
text-decoration: none;
}

#footer {
position: relative;
height: 100px;
width: 100%;
clear: both;
background-color: #829BB9;
}

#footerleft {
position: absolute;
left: 100px;
font-size: 17px;
font-family: candara, sans-serif;
bottom: 50%
}

#footerright {
position: absolute;
right: 100px;
font-size: 17px;
font-family: candara, sans-serif;
bottom: 50%
}

@media (max-width: 360px) {

#all {
background-color: #546875;
height: 100%;
width: 100%;
margin: 0;
}

#header {
background-color: #829BB9;
color: white; 
text-align: center;
font-family: Aboreto, "Times New Roman", georgia;
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 340px;
padding: 10px;
}

#TRPheading {
position: relative;
text-align: center;
padding: 25px;
background-color:#546875;
} 

#TRP {
width: 80%;
}

#Commissions {
text-align: center;
font-size: 31px;
padding: 10px;
padding-bottom: 20px;
color: #FFE8AB;
background-color:#546875;
}


#commish {
width: 80%;
margin-left: auto;
margin-right: auto;
font-size: 20px;
padding-left: 0;
color: #FFE8AB;
background-color:#546875;
clear: both;
margin-bottom: 25px;
}

#TRPsketch {
width: 47%;
float: right;
padding: 10px;
margin: 10px 0 10px 10px;
background-color: #A4BECF;
}

#TRPoilsketch {
width: 47%;
float: left;
padding: 10px;
margin: 20px 15px 20px 0;
background-color: #A4BECF;
}

#TRPprogress {
width: 47%;
float: right;
padding: 10px;
margin: 20px 0 31px 10px;
background-color: #A4BECF;
}

#footer {
position: relative;
background-color: #829BB9;
height: 100px;
width: 360px;

}

#footerleft {
position: absolute;
left: 100px;
font-size: 12px;
font-family: candara, sans-serif;
bottom: 40%
}

#footerright {
position: absolute;
right: 100px;
font-size: 12px;
font-family: candara, sans-serif;
bottom: 55%
}

}
