#all {
background-color: #546875;
height: 100%;
width: 100%;
}

#header {
background-color: #829BB9;
color: white; 
text-align: center;
font-family: Aboreto, "Times New Roman", georgia;
height: 180px;
padding-top: 65px;
padding-bottom: 65px;
font-size: 25px;
letter-spacing: 3px;
}

#headertext {
color: white;
text-decoration: none;
}

#TRPheading {
position: relative;
text-align: center;
padding: 25px;
background-color:#546875;
} 

#TRP {
width: 50%;
}

#Commissions {
text-align: center;
font-size: 34px;
padding: 10px;
padding-bottom: 20px;
color: #FFEEBD;
background-color: #546875;
}

#commish {
width: 70%;
padding-left: 157px;
font-size: 20px;
color: #FFEEBD;
background-color: #546875;
clear: both;
}

#TRPsketch {
width: 40%;
float: right;
padding: 15px;
margin: 10px 0 10px 10px;
background-color: #A4BECF;
}

#TRPoilsketch {
width: 40%;
float: left;
padding: 15px;
margin: 20px 15px 20px 0;
background-color: #A4BECF;
}

#TRPprogress {
width: 40%;
float: right;
padding: 15px;
margin: 20px 0 31px 10px;
background-color: #A4BECF;
}

#Home {
position: relative;
clear: both;
text-align: center;
font-size: 25px;
color: #FFEEBD;
background-color: #829BB9;
padding: 10px;
text-decoration: underline
}

#portfolio {
color: #FFEEBD;
text-decoration: none;
}

#footer2 {
position: relative;
background-color: #829BB9;
height: 100px;
width: 100%;
}

#footerleft2 {
display: inline-block;
font-size: 19px;
font-family: candara, sans-serif;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
float: right;
font-size: 19px;
font-family: candara, sans-serif;
margin-right: 10%;
margin-top: 38px;
}

@media (max-width: 1920px) {

#all {
height: 100%;
width: 1920px;
}

#header {
height: 220px;
font-size: 32px;
letter-spacing: 5px;
width: 1900px;
padding: 10px 10px 10px 10px;
}

#TRPheading {
padding: 25px;
} 

#TRP {
width: 50%;
}

#Commissions {
font-size: 37px;
padding: 10px;
padding-bottom: 20px;
}

#commish {
width: 70%;
font-size: 23px;
padding: 0 300px 0 300px;
border: 0;
}

#TRPsketch {
width: 31%;
float: right;
padding: 15px;
margin: 10px 0 10px 10px;
}

#TRPoilsketch {
width: 31%;
padding: 15px;
margin: 20px 15px 20px 0;
}

#TRPprogress {
width: 31%;
float: right;
padding: 15px;
margin: 20px 0 31px 10px;
}

#Home {
font-size: 31px;
padding: 10px;
}

#portfolio {
text-decoration: none;
}

#footer2 {
position: relative;
height: 100px;
width: 1920px;
}

#footerleft2 {
display: inline-block;
font-size: 25px;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
float: right;
font-size: 25px;
margin-right: 10%;
margin-top: 38px;
}
}


@media (max-width: 1440px) {

#all {
height: 100%;
width: 1440px;
}

#header {
height: 220px;
font-size: 32px;
letter-spacing: 5px;
width: 1420px;
padding: 10px 10px 10px 10px;
}

#TRPheading {
padding: 25px;
} 

#TRP {
width: 50%;
}

#Commissions {
font-size: 34px;
padding: 10px;
padding-bottom: 20px;
}

#commish {
width: 70%;
font-size: 20px;
padding: 0 214px 0 214px;
border: 0;
}

#TRPsketch {
width: 34%;
float: right;
padding: 15px;
margin: 10px 0 10px 10px;
}

#TRPoilsketch {
width: 34%;
padding: 15px;
margin: 20px 15px 20px 0;
}

#TRPprogress {
width: 34%;
float: right;
padding: 15px;
margin: 20px 0 31px 10px;
}

#Home {
font-size: 27px;
padding: 10px;
}

#portfolio {
text-decoration: none;
}

#footer2 {
position: relative;
height: 100px;
width: 100%;
}

#footerleft2 {
display: inline-block;
font-size: 23px;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
float: right;
font-size: 23px;
margin-right: 10%;
margin-top: 38px;
}
}

@media (max-width: 1366px) {

#all {
height: 100%;
width: 100%;
}

#header {
height: 220px;
font-size: 32px;
letter-spacing: 5px;
width: 1346px;
padding: 10px 10px 10px 10px;
}

#TRPheading {
padding: 25px;
} 

#TRP {
width: 50%;
}

#Commissions {
font-size: 34px;
padding: 10px;
padding-bottom: 20px;
}

#commish {
width: 70%;
font-size: 20px;
padding: 0 200px 0 200px;
}

#TRPsketch {
width: 40%;
float: right;
padding: 15px;
margin: 10px 0 10px 10px;
}

#TRPoilsketch {
width: 40%;
padding: 15px;
margin: 20px 15px 20px 0;
}

#TRPprogress {
width: 40%;
float: right;
padding: 15px;
margin: 20px 0 31px 10px;
}

#Home {
font-size: 27px;
padding: 10px;
}

#portfolio {
text-decoration: none;
}

#footer2 {
position: relative;
height: 100px;
width: 100%;
}

#footerleft2 {
display: inline-block;
font-size: 23px;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
float: right;
font-size: 23px;
margin-right: 10%;
margin-top: 38px;
}
}

@media (max-width: 1280px) {
#all {
height: 100%;
width: 1280px;
margin: 0;
}

#header {
height: 267px;
font-size: 43px;
letter-spacing: 3px;
width: 1260px;
padding: 1px 10px 10px 10px;
}

#TRPheading {
padding: 25px;
} 

#TRP {
width: 80%; 
}

#Commissions {
font-size: 50px;
padding: 10px;
padding-bottom: 20px;
background-color: #546875;
}

#commish {
width: 80%;
margin-left: auto;
margin-right: auto;
font-size: 31px;
padding-left: 0;
clear: both;
margin-bottom: 25px;
}

#TRPsketch {
width: 50%;
float: right;
padding: 10px;
margin: 10px 0 10px 10px;
}

#TRPoilsketch {
width: 50%;
float: left;
padding: 10px;
margin: 20px 15px 20px 0;
}

#TRPprogress {
width: 50%;
float: right;
padding: 10px;
margin: 20px 0 31px 10px;
}

#Home {
padding: 10px;
font-size: 41px;
}

#footer2 {
height: 150px;
width: 1280px;
}

#footerleft2 {
font-size: 25px;
margin-left: 5%;
margin-top: 53px;
}

#footerright2 {
font-size: 25px;
margin-right: 5%;
margin-top: 53px;
}
}

@media (max-width: 992px) {
#all {
height: 100%;
width: 992px;
margin: 0;
}

#header {
height: 200px;
font-size: 31px;
letter-spacing: 3px;
width: 972px;
padding: 10px;
}

#TRPheading {
padding: 25px;
} 

#TRP {
width: 80%; 
}

#Commissions {
font-size: 34px;
padding: 10px;
padding-bottom: 20px;
background-color: #546875;
}

#commish {
width: 80%;
margin-left: auto;
margin-right: auto;
font-size: 25px;
padding-left: 0;
clear: both;
margin-bottom: 25px;
}

#TRPsketch {
width: 50%;
float: right;
padding: 10px;
margin: 10px 0 10px 10px;
}

#TRPoilsketch {
width: 50%;
float: left;
padding: 10px;
margin: 20px 15px 20px 0;
}

#TRPprogress {
width: 50%;
float: right;
padding: 10px;
margin: 20px 0 31px 10px;
}

#Home {
padding: 10px;
font-size: 31px;
}

#footer2 {
height: 100px;
width: 992px;
}

#footerleft2 {
font-size: 20px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 20px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 768px) {
#all {
height: 100%;
width: 768px;
margin: 0;
}

#header {
height: 200px;
font-size: 31px;
letter-spacing: 3px;
width: 748px;
padding: 10px;
}

#TRPheading {
padding: 25px;
} 

#TRP {
width: 80%; 
}

#Commissions {
font-size: 34px;
padding: 10px;
padding-bottom: 20px;
background-color: #546875;
}


#commish {
width: 80%;
margin-left: auto;
margin-right: auto;
font-size: 25px;
padding-left: 0;
clear: both;
margin-bottom: 25px;
}

#TRPsketch {
width: 50%;
float: right;
padding: 10px;
margin: 10px 0 10px 10px;
}

#TRPoilsketch {
width: 50%;
float: left;
padding: 10px;
margin: 20px 15px 20px 0;
}

#TRPprogress {
width: 50%;
float: right;
padding: 10px;
margin: 20px 0 31px 10px;
}

#Home {
font-size: 31px;
padding: 10px;
height: 40px;
}

#footer2 {
height: 100px;
width: 768px;
}

#footerleft2 {
font-size: 18px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 18px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 601px) {
#all {
height: 100%;
width: 601px;
margin: 0;
}

#header {
height: 133px;
font-size: 23px;
letter-spacing: 3px;
width: 581px;
padding: 1px 10px 10px 10px;
}

#TRPheading {
padding: 25px;
} 

#TRP {
width: 80%; 
}

#Commissions {
font-size: 31px;
padding: 10px;
padding-bottom: 20px;
background-color: #546875;
}


#commish {
width: 80%;
margin-left: auto;
margin-right: auto;
font-size: 20px;
padding-left: 0;
clear: both;
margin-bottom: 25px;
}

#TRPsketch {
width: 50%;
float: right;
padding: 10px;
margin: 10px 0 10px 10px;
}

#TRPoilsketch {
width: 50%;
float: left;
padding: 10px;
margin: 20px 15px 20px 0;
}

#TRPprogress {
width: 50%;
float: right;
padding: 10px;
margin: 20px 0 31px 10px;
}

#Home {
font-size: 31px;
padding: 10px;
height: 40px;
}

#footer2 {
height: 100px;
width: 601px;
}

#footerleft2 {
font-size: 17px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 17px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 480px) {
	
#all {
height: 100%;
width: 480px;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 460px;
padding: 10px;
}

#TRPheading {
padding: 25px;
} 

#TRP {
width: 80%; 
}

#Commissions {
font-size: 31px;
padding: 10px;
padding-bottom: 20px;
background-color: #546875;
}


#commish {
width: 80%;
margin-left: auto;
margin-right: auto;
font-size: 20px;
padding-left: 0;
clear: both;
margin-bottom: 25px;
}

#TRPsketch {
width: 50%;
float: right;
padding: 10px;
margin: 10px 0 10px 10px;
}

#TRPoilsketch {
width: 50%;
float: left;
padding: 10px;
margin: 20px 15px 20px 0;
}

#TRPprogress {
width: 50%;
float: right;
padding: 10px;
margin: 20px 0 31px 10px;
}

#Home {
font-size: 27px;
padding: 10px;
height: 40px;
}

#footer2 {
height: 80px;
width: 480px;
}

#footerleft2 {
font-size: 14px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 14px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 414px) {
	
#all {
height: 100%;
width: 414px;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 394px;
padding: 10px;
}

#TRPheading {
padding: 25px;
} 

#TRP {
width: 80%; 
}

#Commissions {
font-size: 31px;
padding: 10px;
padding-bottom: 20px;
}


#commish {
width: 80%;
margin-left: auto;
margin-right: auto;
font-size: 20px;
padding-left: 0;
clear: both;
margin-bottom: 25px;
}

#TRPsketch {
width: 50%;
float: right;
padding: 10px;
margin: 10px 0 10px 10px;
}

#TRPoilsketch {
width: 50%;
float: left;
padding: 10px;
margin: 20px 15px 20px 0;
}

#TRPprogress {
width: 50%;
float: right;
padding: 10px;
margin: 20px 0 31px 10px;
}

#Home {
font-size: 25px;
padding: 10px;
height: 31px;
}

#footer2 {
height: 80px;
width: 414px;
}

#footerleft2 {
font-size: 12px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 12px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 375px) {
	
#all {
height: 100%;
width: 375px;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 355px;
padding: 10px;
}

#TRPheading {
padding: 25px;
} 

#TRP {
width: 80%; 
}

#Commissions {
font-size: 31px;
padding: 10px;
padding-bottom: 20px;
}


#commish {
width: 80%;
margin-left: auto;
margin-right: auto;
font-size: 20px;
padding-left: 0;
clear: both;
margin-bottom: 25px;
}

#TRPsketch {
width: 49%;
float: right;
padding: 10px;
margin: 10px 0 10px 10px;
}

#TRPoilsketch {
width: 49%;
float: left;
padding: 10px;
margin: 20px 15px 20px 0;
}

#TRPprogress {
width: 49%;
float: right;
padding: 10px;
margin: 20px 0 31px 10px;
}

#Home {
font-size: 25px;
padding: 10px;
height: 31px;
}

#footer2 {
height: 100px;
width: 375px;
}

#footerleft2 {
font-size: 12px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 12px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 360px) {

#all {
height: 100%;
width: 360px;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 340px;
padding: 10px;
}

#TRPheading {
padding: 25px;
} 

#TRP {
width: 80%;
}

#Commissions {
font-size: 31px;
padding: 10px;
padding-bottom: 20px;
}


#commish {
width: 80%;
margin-left: auto;
margin-right: auto;
font-size: 20px;
padding-left: 0;
clear: both;
margin-bottom: 25px;
}

#TRPsketch {
width: 49%;
float: right;
padding: 10px;
margin: 10px 0 10px 10px;
}

#TRPoilsketch {
width: 49%;
float: left;
padding: 10px;
margin: 20px 15px 20px 0;
}

#TRPprogress {
width: 49%;
float: right;
padding: 10px;
margin: 20px 0 31px 10px;
}

#Home {
font-size: 25px;
padding: 10px;
height: 31px;
}

#footer2 {
height: 100px;
width: 360px;
}

#footerleft2 {
font-size: 11px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 11px;
margin-right: 5%;
margin-top: 38px;
}
}





