#all {
background-color: #A4BECF;
height: 100%;
width: 100%;
}

#header {
background-color: #829BB9;
color: white; 
text-align: center;
font-family: Aboreto, "Times New Roman", georgia;
height: 180px;
padding-top: 65px;
padding-bottom: 65px;
font-size: 25px;
letter-spacing: 3px;
}

#FrostyWalkheading {
position: relative;
text-align: center;
padding: 25px;
background-color:#546875;
} 

#FW {
width: 61%;
}

#welcome {
position: relative;
text-align: center;
bottom: 400px; 
font-size: 50px;
letter-spacing: 5px;
color: #FFE8AB 
}

#bottom-left { 
position: absolute;
left: 320px;
bottom: 200px; 
font-size: 30px;
color: #FFE8AB; 
}

#bottom-right {
position: absolute;
right: 320px;
bottom: 200px; 
font-size: 30px;
color: #FFE8AB 
}

#centered {
position: absolute;
left: 48%;
bottom: 200px; 
font-size: 30px;
color: #FFE8AB 
}

#Prints {
color: #FFE8AB;
text-decoration: none;
background-color: rgba(77, 95, 110, 0.7);
padding: 5px 7px 5px 7px;
}

#Commissions {
color: #FFE8AB;
text-decoration: none;
background-color: rgba(77, 95, 110, 0.7);
padding: 5px 7px 5px 7px;
}

#Portfolio {
color: #FFE8AB;
text-decoration: none;
background-color: rgba(77, 95, 110, 0.7);
padding: 5px 7px 5px 7px;
}

#biotitle {
font-family: Palatino, Aboreto, "Times New Roman", georgia;
font-size: 20px;
}


#mybio {
clear: both;
padding: 5px 220px 100px 220px; 
background-color: #546875;
font-size: 17px;
color: #FFE8AB;
min-width: 300px
}

.biotext {
font-family: Aboreto, Baskerville, Cambria;
}

#footer2 {
position: relative;
background-color: #829BB9;
height: 100px;
width: 100%;
}

#footerleft2 {
display: inline-block;
font-size: 19px;
font-family: candara, sans-serif;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
float: right;
font-size: 19px;
font-family: candara, sans-serif;
margin-right: 10%;
margin-top: 38px;
}

#portfolio {
color: #FFE8AB;
text-decoration: underline;
}

@media (max-width: 360px) {

#all {
height: 100%;
width: 100%;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 340px;
padding: 10px;
}


#FrostyWalkheading {
width: 340px;
padding: 10px;
} 


#FW {
width: 92%;
}

#welcome {
bottom: 170px; 
letter-spacing: 5px;
}

#bottom-left {
left: 40px;
bottom: 92px; 
font-size: 25px;
}

#bottom-right {
right: 40px;
bottom: 92px; 
font-size: 25px;
}

#centered {
left: 48%;
bottom: 92px; 
font-size: 25px;
}

#biotitle {
font-size: 20px;
}

#mybio {
font-size: 14px;
width: 330px;
padding: 15px;
padding-bottom: 20px;
}


#footer2 {
height: 100px;
width: 480px;
}

#footerleft2 {
font-size: 14px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 14px;
margin-right: 5%;
margin-top: 38px;
}

}

@media (max-width: 375px) {

#all {
height: 100%;
width: 100%;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 355px;
padding: 10px;
}


#FrostyWalkheading {
width: 355px;
padding: 10px;
} 


#FW {
width: 92%;
}

#welcome {
bottom: 170px; 
letter-spacing: 5px;
}

#bottom-left {
left: 40px;
bottom: 92px; 
font-size: 25px;
}

#bottom-right {
right: 40px;
bottom: 92px; 
font-size: 25px;
}

#centered {
left: 48%;
bottom: 92px; 
font-size: 25px;
}

#biotitle {
font-size: 20px;
}

#mybio {
font-size: 14px;
width: 345px;
padding: 15px;
}

#footer2 {
height: 100px;
width: 480px;
}

#footerleft2 {
font-size: 14px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 14px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 414px) {

#all {
height: 100%;
width: 100%;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 394px;
padding: 10px;
}


#FrostyWalkheading {
width: 394px;
padding: 10px;
} 


#FW {
width: 92%;
}

#welcome {
bottom: 170px; 
letter-spacing: 5px;
}

#bottom-left {
left: 40px;
bottom: 92px; 
font-size: 25px;
}

#bottom-right {
right: 40px;
bottom: 92px; 
font-size: 25px;
}

#centered {
left: 48%;
bottom: 92px; 
font-size: 25px;
}

#biotitle {
font-size: 23px;
}

#mybio {
font-size: 17px;
width: 384px;
padding: 15px;
}


#footer2 {
height: 100px;
width: 480px;
}

#footerleft2 {
font-size: 14px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 14px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 480px) {

#all {
height: 100%;
width: 100%;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 460px;
padding: 10px;
}


#FrostyWalkheading {
width: 460px;
padding: 10px;
} 


#FW {
width: 92%;
}

#welcome {
bottom: 180px; 
letter-spacing: 5px;
}

#bottom-left {
left: 40px;
bottom: 92px; 
font-size: 25px;
}

#bottom-right {
right: 40px;
bottom: 92px; 
font-size: 25px;
}

#centered {
left: 48%;
bottom: 92px; 
font-size: 25px;
}

#biotitle {
font-size: 23px;
}

#mybio {
font-size: 17px;
width: 450px;
padding: 15px;
}

#footer2 {
height: 100px;
width: 480px;
}

#footerleft2 {
font-size: 14px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 14px;
margin-right: 5%;
margin-top: 38px;
}
}
