#all {
background-color: #546875;
height: 100%;
width: 100%;
}

#header {
background-color: #829BB9;
color: white; 
text-align: center;
font-family: Aboreto, "Times New Roman", georgia;
height: 180px;
padding-top: 65px;
padding-bottom: 65px;
font-size: 25px;
letter-spacing: 3px;
}

#FrostyWalkheading {
position: relative;
text-align: center;
padding: 25px;
background-color:#546875;
} 

#FW {
padding-top: 25px;
width: 61%;
}

#welcome {
position: relative;
text-align: center;
bottom: 400px; 
font-size: 50px;
letter-spacing: 5px;
color: #FFEEBD;
}

#bottom-left { 
position: absolute;
left: 320px;
bottom: 200px; 
font-size: 30px;
color: #FFEEBD; 
}

#bottom-right {
position: absolute;
right: 320px;
bottom: 200px; 
font-size: 30px;
color: #FFEEBD; 
}

#centered {
position: absolute;
left: 48%;
bottom: 200px; 
font-size: 30px;
color: #FFEEBD
}

#Prints {
color: #FFEEBD;
text-decoration: none;
background-color: rgba(77, 95, 110, 0.7);
padding: 5px 7px 5px 7px;
}

#Commissions {
color: #FFEEBD;
text-decoration: none;
background-color: rgba(77, 95, 110, 0.7);
padding: 5px 7px 5px 7px;
}

#Portfolio {
color: #FFEEBD;
text-decoration: none;
background-color: rgba(77, 95, 110, 0.7);
padding: 5px 7px 5px 7px;
}

#biotitle {
font-family: Palatino, Aboreto, "Times New Roman", georgia;
font-size: 20px;
}


#mybio {
clear: both;
padding: 5px 220px 100px 220px; 
background-color: #546875;
font-size: 17px;
color: #FFEEBD;
min-width: 300px;
}

.biotext {
font-family: Aboreto, Baskerville, Cambria;
}

#footer2 {
position: relative;
background-color: #829BB9;
height: 100px;
width: 100%;
}

#footerleft2 {
display: inline-block;
font-size: 19px;
font-family: candara, sans-serif;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
float: right;
font-size: 19px;
font-family: candara, sans-serif;
margin-right: 10%;
margin-top: 38px;
}

#portfolio {
color: #FFEEBD;
text-decoration: underline;
}

@media (max-width: 3840px) {

#all {
height: 100%;
width: 100%;
}

#header {
height: 161px;
padding-top: 10px;
padding-bottom: 65px;
font-size: 34px;
letter-spacing: 10px;
}

#FrostyWalkheading {
padding: 25px;
} 

#FW {
padding-top: 25px;
width: 31%;
}

#welcome {
bottom: 542px; 
font-size: 67px;
letter-spacing: 17px;

}

#bottom-left { 
left: 1400px;
bottom: 250px; 
font-size: 40px;
letter-spacing: 2px;
}

#bottom-right {
right: 1400px;
bottom: 250px; 
font-size: 40px;
letter-spacing: 2px;
}

#centered {
left: 50%;
bottom: 250px; 
font-size: 40px;
letter-spacing: 2px;
}

#biotitle {
font-size: 28px;
}

#mybio {
clear: both;
padding: 5px 790px 100px 790px; 
font-size: 32px;
min-width: 300px;
}

#footer2 {
height: 140px;
width: 100%;
padding-top: 27px;
}

#footerleft2 {
display: inline-block;
font-size: 25px;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
font-size: 25px;
margin-right: 10%;
margin-top: 38px;
}
}

@media (max-width: 1920px) {

#all {
height: 100%;
width: 100%;
}

#header {
height: 161px;
padding-top: 10px;
padding-bottom: 65px;
font-size: 34px;
letter-spacing: 14px;
}

#FrostyWalkheading {
padding: 25px;
} 

#FW {
padding-top: 25px;
width: 59%;
}

#welcome {
bottom: 542px; 
font-size: 67px;
letter-spacing: 17px;

}

#bottom-left { 
left: 447px;
bottom: 250px; 
font-size: 37px;
letter-spacing: 2px;
}

#bottom-right {
right: 447px;
bottom: 250px; 
font-size: 37px;
letter-spacing: 2px;
}

#centered {
left: 48%;
bottom: 250px; 
font-size: 37px;
letter-spacing: 2px;
}

#biotitle {
font-size: 25px;
}

#mybio {
clear: both;
padding: 5px 220px 100px 220px; 
font-size: 23px;
min-width: 300px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
display: inline-block;
font-size: 22px;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
font-size: 22px;
margin-right: 10%;
margin-top: 38px;
}
}

@media (max-width: 1440px) {

#all {
height: 100%;
width: 100%;
}

#header {
height: 161px;
padding-top: 10px;
padding-bottom: 65px;
font-size: 34px;
letter-spacing: 10px;
}

#FrostyWalkheading {
padding: 25px;
} 

#FW {
padding-top: 25px;
width: 61%;
}

#welcome {
bottom: 400px; 
font-size: 64px;
letter-spacing: 12px;

}

#bottom-left { 
left: 320px;
bottom: 200px; 
font-size: 32px;
}

#bottom-right {
right: 320px;
bottom: 200px; 
font-size: 32px;
}

#centered {
left: 48%;
bottom: 200px; 
font-size: 32px;
}

#biotitle {
font-size: 22px;
}


#mybio {
clear: both;
padding: 5px 220px 100px 220px; 
font-size: 19px;
min-width: 300px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
display: inline-block;
font-size: 20px;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
font-size: 20px;
margin-right: 10%;
margin-top: 38px;
}
}

@media (max-width: 1366px) {

#all {
height: 100%;
width: 100%;
}

#header {
height: 140px;
padding-top: 10px;
padding-bottom: 65px;
font-size: 31px;
letter-spacing: 10px;
}

#FrostyWalkheading {
padding: 25px;
} 

#FW {
padding-top: 25px;
width: 61%;
}

#welcome {
bottom: 400px; 
font-size: 62px;
letter-spacing: 10px;

}

#bottom-left { 
left: 320px;
bottom: 200px; 
font-size: 32px;
}

#bottom-right {
right: 320px;
bottom: 200px; 
font-size: 32px;
}

#centered {
left: 48%;
bottom: 200px; 
font-size: 32px; 
}

#biotitle {
font-size: 22px;
}


#mybio {
clear: both;
padding: 5px 220px 100px 220px; 
font-size: 19px;
min-width: 300px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
display: inline-block;
font-size: 20px;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
font-size: 20px;
margin-right: 10%;
margin-top: 38px;
}
}

@media (max-width: 1280px) {

#all {
height: 100%;
width: 100%;
}

#header {
height: 140px;
padding-top: 10px;
padding-bottom: 65px;
font-size: 31px;
letter-spacing: 10px;
}

#FrostyWalkheading {
padding: 25px;
} 

#FW {
padding-top: 25px;
width: 61%;
}

#welcome {
bottom: 370px; 
font-size: 62px;
letter-spacing: 19px;
}

#bottom-left { 
left: 285px;
bottom: 140px; 
font-size: 32px;
}

#bottom-right {
right: 285px;
bottom: 140px; 
font-size: 32px;
}

#centered {
left: 48%;
bottom: 140px; 
font-size: 31px;
}

#biotitle {
font-size: 22px;
}


#mybio {
padding: 5px 220px 100px 220px; 
font-size: 19px;
min-width: 300px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
display: inline-block;
font-size: 20px;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
font-size: 20px;
margin-right: 10%;
margin-top: 38px;
}
}

@media (max-width: 992px) {

#all {
height: 100%;
width: 100%;
margin: 0;
}

#header {
height: 200px;
font-size: 31px;
letter-spacing: 7px;
padding: 10px;
}

#FrostyWalkheading {
padding: 10px;
} 

#FW {
width: 80%;
}

#welcome {
bottom: 370px; 
letter-spacing: 20px;
font-size: 64px;
}

#bottom-left {
left: 120px;
bottom: 124px; 
font-size: 32px;
}

#bottom-right {
right: 120px;
bottom: 124px; 
font-size: 32px;
}

#centered {
left: 47%;
bottom: 124px; 
font-size: 32px;
}

#biotitle {
font-size: 27px;
}

#mybio {
padding: 5px 50px 100px 50px; 
font-size: 19px;
min-width: 300px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
font-size: 20px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 20px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 768px) {

#all {
height: 100%;
width: 100%;
margin: 0;
}

#header {
height: 140px;
font-size: 27px;
letter-spacing: 3px;
padding-top: 5px;
padding-bottom: 40px;
}

#FrostyWalkheading {
padding: 10px;
} 

#FW {
width: 92%;
}

#welcome {
bottom: 325px; 
letter-spacing: 14px;
font-size: 59px;
}

#bottom-left {
left: 50px;
bottom: 115px; 
font-size: 27px;
}

#bottom-right {
right: 50px;
bottom: 115px; 
font-size: 27px;
}

#centered {
left: 47%;
bottom: 115px; 
font-size: 27px;
}

#biotitle {
font-size: 31px;
left: 19px;
}

#mybio {
padding: 0 50px 34px 50px; 
font-size: 18px;
min-width: 300px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
font-size: 18px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 18px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 601px) {

#all {
height: 100%;
width: 100%;
margin: 0;
}

#header {
height: 140px;
font-size: 23px;
letter-spacing: 3px;
padding: 1px 10px 10px 10px;
}


#FrostyWalkheading {
padding: 10px;
} 

#FW {
width: 92%;
}

#welcome {
bottom: 250px; 
letter-spacing: 14px;
font-size: 55px;
}

#bottom-left {
left: 43px;
bottom: 100px; 
font-size: 23px;
}

#bottom-right {
right: 43px;
bottom: 100px; 
font-size: 23px;
}

#centered {
left: 47%;
bottom: 100px; 
font-size: 23px;
}

#biotitle {
font-size: 23px;
}

#mybio {
padding: 0 50px 34px 50px; 
font-size: 18px;
min-width: 300px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
font-size: 15px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 15px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 480px) {

#all {
height: 100%;
width: 100%;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
}

#FrostyWalkheading {
padding: 10px;
} 

#FW {
width: 92%;
}

#welcome {
bottom: 200px; 
letter-spacing: 10px;
font-size: 46px;
}

#bottom-left {
left: 40px;
bottom: 92px; 
font-size: 23px;
letter-spacing: 0px;
}

#bottom-right {
right: 40px;
bottom: 92px; 
font-size: 23px;
letter-spacing: 0px;
}

#centered {
left: 47%;
bottom: 92px; 
font-size: 23px;
letter-spacing: 0px;
}


#biotitle {
font-size: 23px;
}

#mybio {
padding: 0 25px 34px 25px; 
font-size: 19px;
min-width: 300px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
font-size: 14px;
margin-left: 3%;
margin-top: 38px;
}

#footerright2 {
font-size: 14px;
margin-right: 3%;
margin-top: 38px;
}
}

@media (max-width: 414px) {

#all {
height: 100%;
width: 100%;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
}


#FrostyWalkheading {
padding: 10px;
} 

#FW {
width: 92%;
}

#welcome {
bottom: 170px; 
letter-spacing: 5px;
font-size: 40px;
}

#bottom-left {
left: 34px;
bottom: 92px; 
font-size: 23px;
letter-spacing: 0px;
}

#bottom-right {
right: 34px;
bottom: 92px; 
font-size: 23px;
letter-spacing: 0px;
}

#centered {
left: 47%;
bottom: 92px; 
font-size: 23px;
letter-spacing: 0px;
}

#biotitle {
font-size: 23px;
}

#mybio {
padding: 0 25px 34px 25px; 
font-size: 19px;
min-width: 300px;
}


#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
font-size: 12px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 12px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 375px) {

#all {
height: 100%;
width: 100%;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
}

#FrostyWalkheading {
padding: 10px;
} 


#FW {
width: 92%;
}

#welcome {
bottom: 170px; 
letter-spacing: 5px;
font-size: 38px;
}

#bottom-left {
left: 34px;
bottom: 92px; 
font-size: 20px;
letter-spacing: 0px;
}

#bottom-right {
right: 34px;
bottom: 92px; 
font-size: 20px;
letter-spacing: 0px;
}

#centered {
left: 174px;
bottom: 92px; 
font-size: 20px;
letter-spacing: 0px;
}

#biotitle {
font-size: 20px;
}

#mybio {
padding: 0 25px 34px 25px; 
font-size: 19px;
min-width: 300px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
font-size: 12px;
margin-left: 3%;
margin-top: 38px;
}

#footerright2 {
font-size: 12px;
margin-right: 3%;
margin-top: 38px;
}
}

@media (max-width: 360px) {

#all {
height: 100%;
width: 100%;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 340px;
padding: 10px;
}


#FrostyWalkheading {
padding: 10px;
} 

#FW {
width: 92%;
}

#welcome {
bottom: 170px; 
letter-spacing: 5px;
}

#bottom-left {
left: 32px;
bottom: 85px; 
font-size: 18px;
letter-spacing: 0px;
}

#bottom-right {
right: 32px;
bottom: 85px; 
font-size: 18px;
letter-spacing: 0px;
}

#centered {
left: 167px;
bottom: 85px; 
font-size: 18px;
letter-spacing: 0px;
}

#biotitle {
font-size: 20px;
}

#mybio {
font-size: 14px;
width: 330px;
padding: 15px;
padding-bottom: 20px;
}


#footer2 {
height: 100px;
width: 360px;
}

#footerleft2 {
font-size: 11px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 11px;
margin-right: 5%;
margin-top: 38px;
}
}
