#all {
background-color: #A4BECF;
height: 100%;
width: 100%;
}

#header {
background-color: #829BB9;
color: white; 
text-align: center;
font-family: Aboreto, "Times New Roman", georgia;
height: 180px;
padding-top: 65px;
padding-bottom: 65px;
font-size: 25px;
letter-spacing: 3px;
}

#headertext {
color: white;
text-decoration: none;
}

#OchreSky {
position: relative;
padding: 25px;
background-color: #546875;
float: left;
width: 50%;
}

#ochreskyinfo {
position: relative;
float: right;
top: 355px;
right: 470px;
width: 125px;
font-size: 17px;
font-family: candara, sans-serif;
color: black
}

#OchreSkyWall {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 811px;
width: 38%;
}

#ochreskywallbio {
position: relative;
float: left;
bottom: 231px;
left: 70px;
width: 700px;
height: 0px;
font-size: 17px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFE8AB
}

#GouganeBarra {
position: relative;
padding: 25px;
background-color: #546875;
float: left;
width: 41.5%;
}

#GouganeBarrainfo {
position: relative;
float: right;
top: 370px;
right: 550px;
width: 150px;
font-size: 17px;
font-family: candara, sans-serif;
color: black
}

#GouganeBarraframed {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 846px;
width: 35.5%;
}

#GouganeBarrabio {
position: relative;
float: left;
bottom: 225px;
left: 70px;
width: 700px;
height: 0px;
font-size: 17px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFE8AB
}

#TheLough {
position: relative;
padding: 18px;
background-color: #546875;
float: left;
width: 41%;
}

#TheLoughinfo {
position: relative;
float: right;
top: 362px;
right: 575px;
width: 150px;
font-size: 17px;
font-family: candara, sans-serif;
color: black
}

#TheLoughframed {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 811px;
width: 40%;
}

#TheLoughbio {
position: relative;
float: left;
bottom: 225px;
left: 55px;
width: 700px;
height: 0px;
font-size: 17px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFE8AB
}



#Home {
position: relative;
clear: both;
text-align: center;
font-size: 25px;
color: #FFE8AB;
background-color: #829BB9;
padding: 10px;
text-decoration: underline
}

#portfolio {
color: #FFE8AB;
text-decoration: none;
}

#footer2 {
position: relative;
background-color: #829BB9;
height: 100px;
width: 100%;
}

#footerleft2 {
display: inline-block;
font-size: 19px;
font-family: candara, sans-serif;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
float: right;
font-size: 19px;
font-family: candara, sans-serif;
margin-right: 10%;
margin-top: 38px;
}

@media (max-width: 360px) {
	
.biotext {
display: none;
}

#all {
background-color: #A4BECF;
height: 100%;
width: 360px;
margin: 0;
}

#header {
background-color: #829BB9;
color: white; 
text-align: center;
font-family: Aboreto, "Times New Roman", georgia;
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 340px;
padding: 10px;
}

#galochresky {
display: inline-block;
height: 204px;
}

#OchreSky {
position: relative;
float: left;
padding: 10px;
background-color: #546875;
width: 80%;
}

#ochreskyinfo {
position: relative;
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
font-family: candara, sans-serif;
color: black;
}

#galochreskywall {
display: inline-block;
height: 140px;
}


#OchreSkyWall {
position: relative;
padding: 10px;
background-color: #546875;
float: right;
clear: left;
width: 47%;
}

#ochreskywallbio {
position: relative;
float: left;
bottom: 80px;
left: 34px;
width: 140px;
height: 0px;
font-size: 8px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFE8AB
}

#galGouganeBarra {
display: inline-block;
height: 248px;
}

#GouganeBarra {
position: relative;
padding: 10px;
background-color: #546875;
float: left;
width: 80%;
}

#GouganeBarrainfo {
position: relative;
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
font-family: candara, sans-serif;
color: black
}

#galGouganeBarraframed {
display: inline-block;
height: 148px;
}

#GouganeBarraframed {
position: relative;
padding: 10px;
background-color: #546875;
float: right;
clear: left;
width: 47%;
}

#GouganeBarrabio {
position: relative;
float: left;
bottom: 80px;
left: 20px;
width: 180px;
height: 0px;
font-size: 8px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFE8AB
}

#galTheLough {
display: inline-block;
height: 253px;
}


#TheLough {
position: relative;
padding: 10px;
background-color: #546875;
float: left;
width: 80%;
}

#TheLoughinfo {
position: relative;
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
font-family: candara, sans-serif;
color: black
}

#TheLoughframed {
position: relative;
padding: 10px;
background-color: #546875;
float: right;
clear: left;
width: 50%;
}

#TheLoughbio {
position: relative;
float: left;
bottom: 85px;
left: 17px;
width: 180px;
height: 0px;
font-size: 8px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFE8AB
}

#Home {
position: relative;
clear: both;
text-align: center;
color: #FFE8AB;
background-color: #829BB9;
padding: 10px;
text-decoration: underline
}


#portfolio {
color: #FFE8AB;
text-decoration: none;
font-size: 31px;
}


#footer2 {
height: 100px;
width: 480px;
}

#footerleft2 {
font-size: 14px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 14px;
margin-right: 5%;
margin-top: 38px;
}
	
}

@media (max-width: 375px) {
	
.biotext {
display: none;
}

#all {
height: 100%;
width: 375px;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 355px;
padding: 10px;
}

#galochresky {
display: inline-block;
height: 212.2px;
}

#OchreSky {
position: relative;
float: left;
padding: 10px;
width: 80%;
}

#ochreskyinfo {
position: relative;
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#galochreskywall {
display: inline-block;
height: 146.1px;
}


#OchreSkyWall {
position: relative;
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#ochreskywallbio {
position: relative;
float: left;
bottom: 80px;
left: 34px;
width: 140px;
height: 0px;
font-size: 8px;
}

#galGouganeBarra {
display: inline-block;
height: 258.1px;
}

#GouganeBarra {
position: relative;
padding: 10px;
float: left;
width: 80%;
}

#GouganeBarrainfo {
position: relative;
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#galGouganeBarraframed {
display: inline-block;
height: 154px;
}

#GouganeBarraframed {
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#galTheLough {
display: inline-block;
height: 265.1px;
}

#TheLough {
position: relative;
padding: 10px;
float: left;
width: 80%;
}

#TheLoughinfo {
position: relative;
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#TheLoughframed {
position: relative;
padding: 10px;
float: right;
clear: left;
width: 50%;
}

#portfolio {
font-size: 31px;
}

#footer2 {
height: 100px;
width: 480px;
}

#footerleft2 {
font-size: 14px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 14px;
margin-right: 5%;
margin-top: 38px;
}
	
}

@media (max-width: 414px) {
	
.biotext {
display: none;
}

#all {
height: 100%;
width: 414px;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 394px;
padding: 10px;
}

#galochresky {
display: inline-block;
height: 234px;
}

#OchreSky {
position: relative;
float: left;
padding: 10px;
width: 80%;
}

#ochreskyinfo {
position: relative;
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#galochreskywall {
display: inline-block;
height: 160.1px;
}


#OchreSkyWall {
position: relative;
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#ochreskywallbio {
position: relative;
float: left;
bottom: 80px;
left: 34px;
width: 140px;
height: 0px;
font-size: 8px;
}

#galGouganeBarra {
display: inline-block;
height: 284px;
}

#GouganeBarra {
position: relative;
padding: 10px;
float: left;
width: 80%;
}

#GouganeBarrainfo {
position: relative;
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#galGouganeBarraframed {
display: inline-block;
height: 167px;
}

#GouganeBarraframed {
position: relative;
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#GouganeBarrabio {
position: relative;
float: left;
bottom: 80px;
left: 20px;
width: 180px;
height: 0px;
font-size: 8px;
}

#galTheLough {
display: inline-block;
height: 290.2px;
}

#TheLough {
position: relative;
padding: 10px;
float: left;
width: 80%;
}

#TheLoughinfo {
position: relative;
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#TheLoughframed {
padding: 10px;
float: right;
clear: left;
width: 50%;
}

#Home {
padding: 10px;
}

#footer2 {
height: 100px;
width: 480px;
}

#footerleft2 {
font-size: 14px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 14px;
margin-right: 5%;
margin-top: 38px;
}
	
}

@media (max-width: 480px) {
	
.biotext {
display: none;
}

#all {
height: 100%;
width: 480px;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 460px;
padding: 10px;
}

#galochresky {
display: inline-block;
height: 269.1px;
}

#OchreSky {
float: left;
padding: 10px;
width: 80%;
}

#ochreskyinfo {
position: relative;
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#galochreskywall {
display: inline-block;
height: 183px;
}


#OchreSkyWall {
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#galGouganeBarra {
display: inline-block;
height: 325px;
}

#GouganeBarra {
padding: 10px;
float: left;
width: 80%;
}

#GouganeBarrainfo {
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#galGouganeBarraframed {
display: inline-block;
height: 192px;
}

#GouganeBarraframed {
position: relative;
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#galTheLough {
display: inline-block;
height: 334px;
}

#TheLough {
padding: 10px;
width: 80%;
}

#TheLoughinfo {
position: relative;
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#TheLoughframed {
padding: 10px;
float: right;
clear: left;
width: 50%;
}

#Home {
padding: 10px;
}

#footer2 {
height: 100px;
width: 480px;
}

#footerleft2 {
font-size: 14px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 14px;
margin-right: 5%;
margin-top: 38px;
}
	
}
