#all {
background-color: #A4BECF;
width: 100%;
height: 100%;
}

#header {
background-color: #829BB9;
color: white; 
text-align: center;
font-family: Aboreto, "Times New Roman", georgia;
height: 180px;
padding-top: 65px;
padding-bottom: 65px;
font-size: 25px;
letter-spacing: 3px;
}

#headertext {
color: white;
text-decoration: none;
}

#FarranWood {
position: relative;
padding: 25px;
background-color: #546875;
float: left;
width: 47%;
}


#galFarranWoodinfo {
position: relative;
float: right;
top: 425px;
right: 492px;
width: 150px;
font-size: 17px;
font-family: candara, sans-serif;
color: black
}

#Farranframed {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 905px;
width: 31.5%;
}

#galFarranbio {
position: relative;
float: left;
bottom: 285px;
left: 107px;
width: 700px;
height: 0px;
font-size: 17px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFE8AB
}


#SummerEvening {
position: relative;
padding: 25px;
background-color: #546875;
float: left;
width: 45%;
}

#galsummereveninginfo {
position: relative;
float: right;
top: 415px;
width: 500px;
right: 170px;
font-size: 17px;
font-family: candara, sans-serif;
color: black
}

#SummerEveningframed {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 872px;
width: 33.5%;
}

#galsebio {
position: relative;
float: left;
bottom: 240px;
left: 100px;
width: 700px;
height: 0px;
font-size: 17px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFE8AB 
}

#FrostyWalk {
position: relative;
padding: 25px;
background-color: #546875;
float: left;
width: 55%;
}

#FrostyWalkinfo {
position: relative;
float: right;
top: 370px;
right: 406px;
width: 124px;
font-size: 17px;
font-family: candara, sans-serif;
color: black
}

#FrostyEasel {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 853px;
width: 35%;
}

#frostybio {
position: relative;
float: left;
bottom: 200px;
left: 80px;
width: 700px;
height: 0px;
font-size: 17px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFE8AB
}


#page2 {
position: relative;
clear: both;
text-align: center;
font-size: 25px;
color: #FFE8AB;
background-color: #829BB9;
padding: 10px;
text-decoration: underline
}

#portfolio {
color: #FFE8AB;
text-decoration: none;
}

#footer2 {
position: relative;
background-color: #829BB9;
height: 100px;
width: 100%;
}

#footerleft2 {
display: inline-block;
font-size: 19px;
font-family: candara, sans-serif;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
float: right;
font-size: 19px;
font-family: candara, sans-serif;
margin-right: 10%;
margin-top: 38px;
}

@media (max-width: 360px) {
	
.biotext {
display: none;
}

	
#all {
background-color: #A4BECF; 
height: 100%;
width: 360px; 
}

#header {
background-color: #829BB9;
color: white; 
text-align: center;
font-family: Aboreto, "Times New Roman", georgia;
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 340px;
padding: 10px;
}

#galFarran {
display: inline-block;
height: 244px;
}


#FarranWood {
position: relative;
padding: 10px;
background-color: #546875;
float: left;
width: 80%;
}

#galFarranWoodinfo {
position: relative;
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
font-family: candara, sans-serif;
color: black
}

#Farranframed {
position: relative;
padding: 10px;
float: right;
clear: left;
width: 49%;
background-color: #546875;
}

#galFarranbio {	
display: none;
position: relative;
float: left;
bottom: 285px;
left: 107px;
width: 0px;
height: 0px;
font-size: 0px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFE8AB
}

#galsummerevening {
display: inline-block;
height: 227.4px;
}

#SummerEvening {
position: relative;
padding: 10px;
float: left;
clear: right;
width: 70%;
background-color: #546875;
}

#galsummereveninginfo {
position: relative;
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
font-family: candara, sans-serif;
color: black;
}

#SummerEveningframed {
position: relative;
padding: 10px;
float: right;
clear: left;
background-color: #546875;
width: 47%;
}

#galsebio {
display: none;	
position: relative;
float: left;
bottom: 0px;
left: 0px;
width: 0px;
height: 0px;
font-size: 0px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFE8AB; 
}

#galFrostyWalk {
display: inline-block;
height: 208px;
}

#FrostyWalk {
position: relative;
padding: 10px;
float: left;
clear: right;
width: 80%;
background-color: #546875;
}

#FrostyWalkinfo {
position: relative;
float: left;
clear: right;
top: 31px;
left: 40px;
width: 110px;
font-size: 14px;
font-family: candara, sans-serif;
color: black
}

#FrostyEasel { 
position: relative;
padding: 10px;
float: right;
clear: left;
width: 49%;
background-color: #546875;
}

#frostybio {
display: none;	
position: relative;
float: left;
bottom: 0px;
left: 0px;
width: 0px;
height: 0px;
font-size: 0px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFE8AB;
}

#page2 {
position: relative;
clear: both;
text-align: center;
color: #FFE8AB;
background-color: #829BB9;
padding: 10px;
text-decoration: underline;
}

#portfolio {
color: #FFE8AB;
text-decoration: none;
font-size: 31px;
}

#footer2 {
height: 100px;
width: 480px;
}

#footerleft2 {
font-size: 14px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 14px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 375px) {
	
.biotext {
display: none;
}

	
#all {
height: 100%;
width: 375px; 
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 355px;
padding: 10px;
}

#galFarran {
display: inline-block;
height: 244px;
}

#FarranWood {
padding: 10px;
float: left;
width: 80%;
}

#galFarranWoodinfo {
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#Farranframed {
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#galFarranbio {	
display: none;
}

#galsummerevening {
display: inline-block;
height: 227.4px;
}

#SummerEvening {
padding: 10px;
float: left;
clear: right;
width: 70%;
}

#galsummereveninginfo {
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#SummerEveningframed {
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#galsebio {
display: none;	
}

#galFrostyWalk {
display: inline-block;
height: 208px;
}

#FrostyWalk {
padding: 10px;
float: left;
clear: right;
width: 80%;
}

#FrostyWalkinfo {
clear: right;
top: 31px;
left: 40px;
width: 110px;
font-size: 14px;
}

#FrostyEasel { 
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#frostybio {
display: none;	
}

#page2 {
clear: both;
text-align: center;
padding: 10px; 
font-size: 31px;
}

#footer2 {
height: 100px;
width: 480px;
}

#footerleft2 {
font-size: 14px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 14px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 414px) {
	
.biotext {
display: none;
}

	
#all {
height: 100%;
width: 414px; 
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 394px;
padding: 10px;
}

#galFarran {
display: inline-block;
height: 277px;
}

#FarranWood {
padding: 10px;
float: left;
width: 80%;
}

#galFarranWoodinfo {
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#Farranframed {
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#galFarranbio {	
display: none;
}

#galsummerevening {
display: inline-block;
height: 257px;
}

#SummerEvening {
padding: 10px;
float: left;
clear: right;
width: 70%;
background-color: #546875;
}

#galsummereveninginfo {
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#SummerEveningframed {
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#galsebio {
display: none;	
}

#galFrostyWalk {
display: inline-block;
height: 235.5px;
}

#FrostyWalk {
padding: 10px;
float: left;
clear: right;
width: 80%;
}

#FrostyWalkinfo {
top: 31px;
left: 40px;
width: 110px;
font-size: 14px;
}

#FrostyEasel { 
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#frostybio {
display: none;	
}

#page2 {
padding: 10px;
}

#footer2 {
height: 100px;
width: 480px;
}

#footerleft2 {
font-size: 14px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 14px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 480px) {
	
.biotext {
display: none;
}

	
#all {
height: 100%;
width: 480px; 
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 460px;
padding: 10px;
}

#galFarran {
display: inline-block;
height: 320.1px;
}

#FarranWood {
padding: 10px;
float: left;
width: 80%;
}

#galFarranWoodinfo {
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#Farranframed {
position: relative;
padding: 10px;
}

#galFarranbio {	
display: none;
}

#galsummerevening {
display: inline-block;
height: 295px;
}

#SummerEvening {
padding: 10px;
float: left;
clear: right;
width: 70%;
}

#galsummereveninginfo {
float: left;
clear: both;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#SummerEveningframed {
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#galsebio {
display: none;
}

#galFrostyWalk {
display: inline-block;
height: 272.2px;
}

#FrostyWalk {
padding: 10px;
float: left;
clear: right;
width: 80%;
}

#FrostyWalkinfo {
float: left;
clear: right;
top: 31px;
left: 40px;
width: 110px;
font-size: 14px;
}

#FrostyEasel { 
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#frostybio {
display: none;
}

#page2 {
padding: 10px;
}

#footer2 {
height: 100px;
width: 480px;
}

#footerleft2 {
font-size: 14px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 14px;
margin-right: 5%;
margin-top: 38px;
}
}
