#all {
background-color: #A4BECF;
width: 100%;
height: 100%;
}

#header {
background-color: #829BB9;
color: white; 
text-align: center;
font-family: Aboreto, "Times New Roman", georgia;
height: 180px;
padding-top: 65px;
padding-bottom: 65px;
font-size: 25px;
letter-spacing: 3px;
}

#headertext {
color: white;
text-decoration: none;
}

#painting1 {
position: relative;
padding: 25px;
background-color: #546875;
float: left;
width: 47%;
}


#info1 {
position: relative;
float: right;
top: 425px;
right: 492px;
width: 150px;
font-size: 17px;
font-family: candara, sans-serif;
color: black
}

#portfolioframed1 {
display: block;
}

#paintingframed1 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 905px;
width: 31.5%;
}

#bio1 {
position: relative;
float: left;
bottom: 285px;
left: 107px;
width: 700px;
height: 0px;
font-size: 17px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFEEBD
}


#painting2 {
position: relative;
padding: 25px;
background-color: #546875;
float: left;
width: 45%;
}

#info2 {
position: relative;
float: right;
top: 415px;
width: 500px;
right: 170px;
font-size: 17px;
font-family: candara, sans-serif;
color: black
}

#paintingframed2 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 872px;
width: 33.5%;
}

#bio2 {
position: relative;
float: left;
bottom: 240px;
left: 100px;
width: 700px;
height: 0px;
font-size: 17px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFEEBD 
}

#painting3 {
position: relative;
padding: 25px;
background-color: #546875;
float: left;
width: 55%;
}

#info3 {
position: relative;
float: right;
top: 370px;
right: 406px;
width: 124px;
font-size: 17px;
font-family: candara, sans-serif;
color: black
}

#paintingframed3 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 853px;
width: 35%;
}

#bio3 {
position: relative;
float: left;
bottom: 200px;
left: 80px;
width: 700px;
height: 0px;
font-size: 17px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFEEBD
}

#nxtpge {
position: relative;
clear: both;
text-align: center;
font-size: 25px;
color: #FFEEBD;
background-color: #829BB9;
padding: 10px;
text-decoration: underline
}

#portfolio {
color: #FFEEBD;
text-decoration: none;
}

#footer2 {
position: relative;
background-color: #829BB9;
height: 100px;
width: 100%;
}

#footerleft2 {
display: inline-block;
font-size: 19px;
font-family: candara, sans-serif;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
float: right;
font-size: 19px;
font-family: candara, sans-serif;
margin-right: 10%;
margin-top: 38px;
}

@media (max-width: 1920px) {

#all {
height: 100%;
width: 100%;
}

#header {
height: 220px;
font-size: 32px;
letter-spacing: 5px;
padding: 10px 10px 10px 10px;
}

#portfolio1 {
display: inline-block;
height: 804px;
width: 100%;
}

#painting1 {
width: 50%;
}

#info1 {
top: 610px;
right: 670px;
width: 190px;
font-size: 20px;
}

#portfolioframed1 {
display: inline-block;
height: 622px;
width: 100%;
}

#paintingframed1 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 100%;
width: 31.5%;
}

#bio1 {
bottom: 370px;
left: 185px;
width: 911px;
height: 0px;
font-size: 23px;
}

#portfolio2 {
display: inline-block;
height: 848px;
width: 100%;
}

#painting2 {
padding: 25px;
width: 50%;
}

#info2 {
top: 649px;
right: 670px;
width: 190px;
font-size: 20px;
}

#portfolioframed2 {
display: inline-block;
height: 619px;
width: 100%;
}

#paintingframed2 {
padding: 25px;
padding-left: 100%;
width: 33.5%;
}

#bio2 {
bottom: 310px;
left: 185px;
width: 870px;
height: 0px;
font-size: 23px;
}

#portfolio3 {
display: inline-block;
height: 686px;
width: 100%;
}

#painting3 {
padding: 25px;
width: 50%;
}

#info3 {
top: 514px;
right: 670px;
width: 190px;
font-size: 20px;
}

#paintingframed3 {
padding: 25px;
padding-left: 100%;
width: 35%;
}

#bio3 {
bottom: 285px;
left: 147px;
width: 910px;
height: 0px;
font-size: 23px;
}

#nxtpge {
padding: 10px;
font-size: 34px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
font-size: 20px;
margin-left: 5%;
margin-top: 40px;
}

#footerright2 {
font-size: 20px;
margin-right: 5%;
margin-top: 40px;
}
}

@media (max-width: 1440px) {

#all {
height: 100%;
width: 100%;
}

#header {
height: 220px;
font-size: 32px;
letter-spacing: 5px;
padding: 10px 10px 10px 10px;
}

#portfolio1 {
display: inline-block;
height: 614px;
width: 100%;
}

#painting1 {
width: 50%;
}

#info1 {
top: 485px;
right: 460px;
width: 170px;
font-size: 18px;
}

#portfolioframed1 {
display: inline-block;
height: 476px;
width: 100%;
}

#paintingframed1 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 100%;
width: 31.5%;
}

#bio1 {
bottom: 340px;
left: 110px;
width: 700px;
height: 0px;
font-size: 20px;
}

#portfolio2 {
display: inline-block;
height: 647px;
width: 100%;
}

#painting2 {
padding: 25px;
width: 50%;
}

#info2 {
top: 511px;
right: 460px;
width: 170px;
font-size: 18px;
}

#portfolioframed2 {
display: inline-block;
height: 476px;
width: 100%;
}

#paintingframed2 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 100%;
width: 33.5%;
}

#bio2 {
bottom: 270px;
left: 110px;
width: 700px;
height: 0px;
font-size: 20px;
}

#portfolio3 {
display: inline-block;
height: 525px;
width: 100%;
}

#painting3 {
padding: 25px;
width: 50%;
}

#info3 {
top: 400px;
right: 460px;
width: 170px;
font-size: 18px;
}

#paintingframed3 {
padding: 25px;
padding-left: 100%;
width: 35%;
}

#bio3 {
bottom: 255px;
left: 110px;
width: 700px;
height: 0px;
font-size: 20px;
}

#nxtpge {
padding: 10px;
font-size: 34px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
font-size: 20px;
margin-left: 5%;
margin-top: 40px;
}

#footerright2 {
font-size: 20px;
margin-right: 5%;
margin-top: 40px;
}
}

@media (max-width: 1366px) {

#all {
height: 100%;
width: 100%;
}

#header {
height: 220px;
font-size: 32px;
letter-spacing: 5px;
padding: 10px 10px 10px 10px;
}

#portfolio1 {
display: inline-block;
height: 574px;
width: 100%;
}

#painting1 {
width: 49%;
}

#info1 {
top: 421px;
right: 443px;
width: 170px;
font-size: 18px;
}

#portfolioframed1 {
display: inline-block;
height: 455px;
width: 100%;
}

#paintingframed1 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 100%;
width: 31.5%;
}

#bio1 {
bottom: 310px;
left: 100px;
width: 700px;
height: 0px;
font-size: 20px;
}

#portfolio2 {
display: inline-block;
height: 604px;
width: 100%;
}

#painting2 {
padding: 25px;
width: 49%;
}

#info2 {
top: 443px;
right: 443px;
width: 170px;
font-size: 18px;
}

#portfolioframed2 {
display: inline-block;
height: 453px;
width: 100%;
}

#paintingframed2 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 100%;
width: 33.5%;
}

#bio2 {
bottom: 270px;
left: 100px;
width: 700px;
height: 0px;
font-size: 20px;
}

#portfolio3 {
display: inline-block;
height: 491px;
width: 100%;
}

#painting3 {
padding: 25px;
width: 49%;
}

#info3 {
top: 355px;
right: 443px;
width: 170px;
font-size: 18px;
}

#paintingframed3 {
padding: 25px;
padding-left: 100%;
width: 35%;
}

#bio3 {
bottom: 241px;
left: 100px;
width: 700px;
height: 0px;
font-size: 20px;
}

#nxtpge {
padding: 10px;
font-size: 34px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
font-size: 20px;
margin-left: 5%;
margin-top: 40px;
}

#footerright2 {
font-size: 20px;
margin-right: 5%;
margin-top: 40px;
}
}

@media (max-width: 1280px) {

#all {
height: 100%;
width: 1280px;
margin: 0;
}

#header {
height: 230px;
font-size: 34px;
letter-spacing: 3px;
padding: 1px 10px 10px 10px;
}

#portfolio1 {
display: inline-block;
height: 541px;
width: 100%;
}

#painting1 {
width: 49%;
}

#info1 {
top: 400px;
right: 410px;
width: 170px;
font-size: 20px;
}

#portfolioframed1 {
display: inline-block;
height: 430px;
width: 100%;
}

#paintingframed1 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 905px;
width: 31.5%;
}

#bio1 {
bottom: 315px;
left: 61px;
width: 700px;
height: 0px;
font-size: 23px;
}

#portfolio2 {
display: inline-block;
height: 580px;
width: 100%;
}

#painting2 {
padding: 25px;
width: 50%;
}

#info2 {
top: 400px;
right: 400px;
width: 170px;
font-size: 20px;
}

#portfolioframed2 {
display: inline-block;
height: 429px;
width: 100%;
}

#paintingframed2 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 872px;
width: 33.5%;
}

#bio2 {
bottom: 300px;
left: 61px;
width: 700px;
height: 0px;
font-size: 23px;
}

#portfolio3 {
display: inline-block;
height: 472px;
width: 100%;
}

#painting3 {
padding: 25px;
width: 50%;
}

#info3 {
top: 325px;
right: 395px;
width: 170px;
font-size: 20px;
}

#paintingframed3 {
padding: 25px;
padding-left: 853px;
width: 35%;
}

#bio3 {
bottom: 247px;
left: 61px;
width: 700px;
height: 0px;
font-size: 23px;
}

#nxtpge {
padding: 10px;
font-size: 34px;
}

#footer2 {
height: 150px;
width: 100%;
}

#footerleft2 {
font-size: 20px;
margin-left: 5%;
margin-top: 53px;
}

#footerright2 {
font-size: 20px;
margin-right: 5%;
margin-top: 53px;
}
}

@media (max-width: 993px) {

#all {
height: 100%;
width: 993px;
margin: 0;
}

#header {
height: 200px;
font-size: 31px;
letter-spacing: 3px;
padding: 10px;
}

#portfolio1 {
display: inline-block;
height: 430px;
width: 100%;
}

#painting1 {
width: 49%;
}

#info1 {
top: 295px;
right: 270px;
width: 170px;
font-size: 19px;
}

#portfolioframed1 {
display: inline-block;
height: 344px;
width: 100%;
}

#paintingframed1 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 905px;
width: 31.5%;
}

#bio1 {
bottom: 267px;
left: 31px;
width: 610px;
height: 0px;
font-size: 19px;
}

#portfolio2 {
display: inline-block;
height: 453px;
width: 100%;
}

#painting2 {
padding: 25px;
width: 49%;
}

#info2 {
top: 295px;
right: 270px;
width: 170px;
font-size: 19px;
}

#portfolioframed2 {
display: inline-block;
height: 342px;
width: 100%;
}

#paintingframed2 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 872px;
width: 33.5%;
}

#bio2 {
bottom: 225px;
left: 31px;
width: 585px;
height: 0px;
font-size: 19px;
}

#portfolio3 {
display: inline-block;
height: 370px;
width: 100%;
}

#painting3 {
padding: 25px;
width: 49%;
}

#info3 {
top: 230px;
right: 270px;
width: 170px;
font-size: 19px;
}

#paintingframed3 {
padding: 25px;
padding-left: 100%;
width: 35%;
}

#bio3 {
bottom: 200px;
left: 31px;
width: 577px;
height: 0px;
font-size: 19px;
}

#nxtpge {
padding: 10px;
font-size: 34px;
}

#footer2 {
height: 150px;
width: 100%;
}

#footerleft2 {
font-size: 20px;
margin-left: 5%;
margin-top: 53px;
}

#footerright2 {
font-size: 20px;
margin-right: 5%;
margin-top: 53px;
}
}

@media (max-width: 992px) {

.biotext {
display: none;
}

#all {
height: 100%;
width: 992px;
margin: 0;
}

#header {
height: 200px;
font-size: 31px;
letter-spacing: 3px;
padding: 10px;
}

#portfolio1 {
display: inline-block;
height: 643px;
}

#painting1 {
padding: 10px;
float: left;
width: 80%;
}

#info1 {
float: left;
clear: left;
top: 140px;
left: 115px;
width: 161px;
font-size: 22px;
}

#portfolioframed1 {
display: inline-block;
height: 480px;
}

#paintingframed1 {
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio1 {	
display: none;
}

#portfolio2 {
display: inline-block;
height: 596px;
}

#painting2 {
padding: 10px;
float: left;
clear: right;
width: 70%;
}

#info2 {
float: left;
clear: left;
top: 140px;
left: 115px;
width: 161px;
font-size: 22px;
}

#portfolioframed2{
display: inline-block;
height: 432px;
}

#paintingframed2 {
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#bio2 {
display: none;	
}

#portfolio3 {
display: inline-block;
height: 546px;
}

#painting3 {
padding: 10px;
float: left;
clear: right;
width: 80%;
}

#info3 {
float: left;
clear: left;
top: 140px;
left: 115px;
width: 161px;
font-size: 22px;
}

#paintingframed3 { 
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio3 {
display: none;
}

#nxtpge {
font-size: 31px;
padding: 10px;
height: 40px;
}

#footer2 {
height: 100px;
width: 992px;
}

#footerleft2 {
font-size: 25px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 25px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 768px) {

.biotext {
display: none;
}
	
#all {
height: 100%;
width: 768px;
margin: 0;
}

#header {
height: 200px;
font-size: 31px;
letter-spacing: 3px;
width: 748px;
padding: 10px;
}

#portfolio1 {
display: inline-block;
height: 502px;
}

#painting1 {
padding: 10px;
float: left;
width: 80%;
}

#info1 {
float: left;
clear: left;
top: 95px;
left: 95px;
width: 140px;
font-size: 19px;
}

#portfolioframed1 {
display: inline-block;
height: 375px;
}


#paintingframed1 {
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio1 {	
display: none;
}

#portfolio2 {
display: inline-block;
height: 465px;
}

#painting2 {
padding: 10px;
float: left;
clear: right;
width: 70%;
}

#info2 {
float: left;
clear: left;
top: 95px;
left: 95px;
width: 140px;
font-size: 19px;
}

#portfolioframed2{
display: inline-block;
height: 338px;
}

#paintingframed2 {
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#bio2 {
display: none;	
}

#portfolio3 {
display: inline-block;
height: 426px;
}

#painting3 {
padding: 10px;
float: left;
clear: right;
width: 80%;
}

#info3 {
float: left;
clear: left;
top: 95px;
left: 95px;
width: 140px;
font-size: 19px;
}

#paintingframed3 { 
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio3 {
display: none;
}

#nxtpge {
font-size: 31px;
padding: 10px;
height: 40px;
}

#footer2 {
height: 100px;
width: 768px;
}

#footerleft2 {
font-size: 18px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 18px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 601px) {

.biotext {
display: none;
}

#all {
height: 100%;
width: 601px;
margin: 0;
}

#header {
height: 133px;
font-size: 23px;
letter-spacing: 3px;
width: 581px;
padding: 1px 10px 10px 10px;
}

#portfolio1 {
display: inline-block;
height: 396px;
}

#painting1 {
padding: 10px;
float: left;
width: 80%;
}

#info1 {
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#portfolioframed1 {
display: inline-block;
height: 295px;
}


#paintingframed1 {
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio1 {	
display: none;
}

#portfolio2 {
display: inline-block;
height: 367px;
}

#painting2 {
padding: 10px;
float: left;
clear: right;
width: 70%;
}

#info2 {
float: left;
clear: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#portfolioframed2{
display: inline-block;
height: 268px;
}

#paintingframed2 {
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#bio2 {
display: none;	
}

#portfolio3 {
display: inline-block;
height: 337px;
}

#painting3 {
padding: 10px;
float: left;
clear: right;
width: 80%;
}

#info3 {
float: left;
clear: right;
top: 31px;
left: 40px;
width: 110px;
font-size: 14px;
}

#paintingframed3 { 
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio3 {
display: none;
}

#nxtpge {
font-size: 27px;
padding: 10px;
}

#footer2 {
height: 100px;
width: 601px;
}

#footerleft2 {
font-size: 17px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 17px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 480px) {
	
.biotext {
display: none;
}
	
#all {
height: 100%;
width: 480px;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 460px;
padding: 10px;
}


#portfolio1 {
display: inline-block;
height: 319px;
}

#painting1 {
padding: 10px;
float: left;
width: 80%;
}

#info1 {
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#portfolioframed1 {
display: inline-block;
height: 240px;
}


#paintingframed1 {
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio1 {	
display: none;
}

#portfolio2 {
display: inline-block;
height: 297px;
}

#painting2 {
padding: 10px;
float: left;
clear: right;
width: 70%;
}

#info2 {
float: left;
clear: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#portfolioframed2{
display: inline-block;
height: 217px;
}

#paintingframed2 {
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#bio2 {
display: none;	
}

#portfolio3 {
display: inline-block;
height: 273px;
}

#painting3 {
padding: 10px;
float: left;
clear: right;
width: 80%;
}

#info3 {
float: left;
clear: right;
top: 31px;
left: 40px;
width: 110px;
font-size: 14px;
}

#paintingframed3 { 
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio3 {
display: none;
}

#nxtpge {
font-size: 27px;
padding: 10px;
}

#footer2 {
height: 80px;
width: 480px;
}

#footerleft2 {
font-size: 14px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 14px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 414px) {
	
.biotext {
display: none;
}

#all {
height: 100%;
width: 414px;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 394px;
padding: 10px;
}

#portfolio1 {
display: inline-block;
height: 277px;
}

#painting1 {
padding: 10px;
float: left;
width: 80%;
}

#info1 {
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#portfolioframed1 {
display: inline-block;
height: 209px;
}


#paintingframed1 {
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio1 {	
display: none;
}

#portfolio2 {
display: inline-block;
height: 258px;
}

#painting2 {
padding: 10px;
float: left;
clear: right;
width: 70%;
}

#info2 {
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#portfolioframed2{
display: inline-block;
height: 189px;
}

#paintingframed2 {
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#bio2 {
display: none;	
}

#portfolio3 {
display: inline-block;
height: 237px;
}

#painting3 {
padding: 10px;
float: left;
clear: right;
width: 80%;
}

#info3 {
float: left;
clear: right;
top: 31px;
left: 40px;
width: 110px;
font-size: 14px;
}

#paintingframed3 { 
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio3 {
display: none;	
}

#nxtpge {
font-size: 25px;
padding: 10px;
}

#footer2 {
height: 80px;
width: 414px;
}

#footerleft2 {
font-size: 12px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 12px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 375px) {
	
.biotext {
display: none;
}

#all {
height: 100%;
width: 375px;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 355px;
padding: 10px;
}

#portfolio1 {
display: inline-block;
height: 253px;
}

#painting1 {
padding: 10px;
float: left;
width: 80%;
}

#info1 {
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#portfolioframed1 {
display: inline-block;
height: 191px;
}


#paintingframed1 {
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio1 {	
display: none;
}

#portfolio2 {
display: inline-block;
height: 235px;
}

#painting2 {
padding: 10px;
float: left;
clear: right;
width: 70%;
}

#info2 {
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#portfolioframed2{
display: inline-block;
height: 173px;
}

#paintingframed2 {
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#bio2 {
display: none;	
}

#portfolio3 {
display: inline-block;
height: 216px;
}

#painting3 {
padding: 10px;
float: left;
clear: right;
width: 80%;
}

#info3 {
float: left;
clear: right;
top: 31px;
left: 40px;
width: 110px;
font-size: 14px;
}

#paintingframed3 { 
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio3 {
display: none;	
}

#nxtpge {
clear: both;
text-align: center;
padding: 10px; 
font-size: 25px;
}

#footer2 {
height: 80px;
width: 375px;
}

#footerleft2 {
font-size: 12px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 12px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 360px) {
	
.biotext {
display: none;
}
	
#all {
height: 100%;
width: 360px;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 340px;
padding: 10px;
}

#portfolio1 {
display: inline-block;
height: 243px;
}


#painting1 {
position: relative;
padding: 10px;
background-color: #546875;
float: left;
width: 80%;
}

#info1 {
position: relative;
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
font-family: candara, sans-serif;
color: black
}

#portfolioframed1 {
display: inline-block;
height: 185px;
}

#paintingframed1 {
position: relative;
padding: 10px;
float: right;
clear: left;
width: 49%;
background-color: #546875;
}

#bio1 {	
display: none;
position: relative;
float: left;
bottom: 285px;
left: 107px;
width: 0px;
height: 0px;
font-size: 0px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFEEBD
}

#portfolio2 {
display: inline-block;
height: 226px;
}

#painting2 {
position: relative;
padding: 10px;
float: left;
clear: right;
width: 70%;
background-color: #546875;
}

#info2 {
position: relative;
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
font-family: candara, sans-serif;
color: black;
}

#portfolioframed2 {
display: inline-block;
height: 166px;
}

#paintingframed2 {
position: relative;
padding: 10px;
float: right;
clear: left;
background-color: #546875;
width: 47%;
}

#bio2 {
display: none;	
position: relative;
float: left;
bottom: 0px;
left: 0px;
width: 0px;
height: 0px;
font-size: 0px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFEEBD; 
}

#portfolio3 {
display: inline-block;
height: 208px;
}

#painting3 {
position: relative;
padding: 10px;
float: left;
clear: right;
width: 80%;
background-color: #546875;
}

#info3 {
position: relative;
float: left;
clear: right;
top: 31px;
left: 40px;
width: 110px;
font-size: 14px;
font-family: candara, sans-serif;
color: black
}

#paintingframed3 { 
position: relative;
padding: 10px;
float: right;
clear: left;
width: 49%;
background-color: #546875;
}

#bio3 {
display: none;	
position: relative;
float: left;
bottom: 0px;
left: 0px;
width: 0px;
height: 0px;
font-size: 0px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFEEBD;
}

#nxtpge {
position: relative;
clear: both;
text-align: center;
color: #FFEEBD;
background-color: #829BB9;
padding: 10px;
text-decoration: underline;
}

#portfolio {
color: #FFEEBD;
text-decoration: none;
font-size: 25px;
}

#footer2 {
height: 85px;
width: 360px;
}

#footerleft2 {
font-size: 11px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 11px;
margin-right: 5%;
margin-top: 38px;
}
}
