#all {
background-color: #A4BECF;
width: 100%;
height: 100%;
}

#header {
background-color: #829BB9;
color: white; 
text-align: center;
font-family: Aboreto, "Times New Roman", georgia;
height: 180px;
padding-top: 65px;
padding-bottom: 65px;
font-size: 25px;
letter-spacing: 3px;
}

#headertext {
color: white;
text-decoration: none;
}

#painting1 {
position: relative;
padding: 25px;
background-color: #546875;
float: left;
width: 47%;
}


#info1 {
position: relative;
float: right;
top: 340px;
right: 492px;
width: 150px;
font-size: 17px;
font-family: candara, sans-serif;
color: black
}

#portfolioframed1 {
display: block;
}

#paintingframed1 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 905px;
width: 31.5%;
}

#bio1 {
position: relative;
float: left;
bottom: 195px;
left: 85px;
width: 700px;
height: 0px;
font-size: 20px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFEEBD
}


#painting2 {
position: relative;
padding: 25px;
background-color: #546875;
float: left;
width: 45%;
}

#info2 {
position: relative;
float: right;
top: 415px;
width: 500px;
right: 170px;
font-size: 17px;
font-family: candara, sans-serif;
color: black
}

#paintingframed2 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 872px;
width: 33.5%;
}

#bio2 {
position: relative;
float: left;
bottom: 220px;
left: 85px;
width: 700px;
height: 0px;
font-size: 20px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFEEBD 
}

#painting3 {
position: relative;
padding: 25px;
background-color: #546875;
float: left;
width: 50%;
}

#info3 {
position: relative;
float: right;
top: 475px;
right: 475px;
width: 124px;
font-size: 17px;
font-family: candara, sans-serif;
color: black
}

#paintingframed3 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 853px;
width: 35%;
}

#bio3 {
position: relative;
float: left;
bottom: 225px;
left: 85px;
width: 700px;
height: 0px;
font-size: 20px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFEEBD
}

#nxtpge {
position: relative;
clear: both;
text-align: center;
font-size: 25px;
color: #FFEEBD;
background-color: #829BB9;
padding: 10px;
text-decoration: underline
}

#portfolio {
color: #FFEEBD;
text-decoration: none;
}

#footer2 {
position: relative;
background-color: #829BB9;
height: 100px;
width: 100%;
}

#footerleft2 {
display: inline-block;
font-size: 19px;
font-family: candara, sans-serif;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
float: right;
font-size: 19px;
font-family: candara, sans-serif;
margin-right: 10%;
margin-top: 38px;
}

@media (max-width: 1920px) {

#all {
height: 100%;
width: 100%;
}

#header {
height: 220px;
font-size: 32px;
letter-spacing: 5px;
padding: 10px 10px 10px 10px;
}

#portfolio1 {
display: inline-block;
height: 677px;
width: 100%;
}

#painting1 {
width: 50%;
}

#info1 {
top: 510px;
right: 670px;
width: 190px;
font-size: 20px;
}

#portfolioframed1 {
display: inline-block;
height: 492px;
width: 100%;
}

#paintingframed1 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 100%;
width: 31.5%;
}

#bio1 {
bottom: 285px;
left: 185px;
width: 770px;
height: 0px;
font-size: 23px;
}

#portfolio2 {
display: inline-block;
height: 822px;
width: 100%;
}

#painting2 {
padding: 25px;
width: 50%;
}

#info2 {
top: 649px;
right: 670px;
width: 190px;
font-size: 20px;
}

#portfolioframed2 {
display: inline-block;
height: 547px;
width: 100%;
}

#paintingframed2 {
padding: 25px;
padding-left: 100%;
width: 33.5%;
}

#bio2 {
bottom: 310px;
left: 185px;
width: 870px;
height: 0px;
font-size: 23px;
}

#portfolio3 {
display: inline-block;
height: 841px;
width: 100%;
}

#painting3 {
padding: 25px;
width: 50%;
}

#info3 {
top: 640px;
right: 670px;
width: 190px;
font-size: 20px;
}

#paintingframed3 {
padding: 25px;
padding-left: 100%;
width: 35%;
}

#bio3 {
bottom: 285px;
left: 185px;
width: 910px;
height: 0px;
font-size: 23px;
}

#nxtpge {
padding: 10px;
font-size: 34px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
font-size: 20px;
margin-left: 5%;
margin-top: 40px;
}

#footerright2 {
font-size: 20px;
margin-right: 5%;
margin-top: 40px;
}
}

@media (max-width: 1440px) {

#all {
height: 100%;
width: 100%;
}

#header {
height: 220px;
font-size: 32px;
letter-spacing: 5px;
padding: 10px 10px 10px 10px;
}

#portfolio1 {
display: inline-block;
height: 520px;
width: 100%;
}

#painting1 {
width: 50%;
}

#info1 {
top: 370px;
right: 474px;
width: 170px;
font-size: 18px;
}

#portfolioframed1 {
display: inline-block;
height: 380px;
width: 100%;
}

#paintingframed1 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 100%;
width: 31.5%;
}

#bio1 {
bottom: 240px;
left: 110px;
width: 700px;
height: 0px;
font-size: 20px;
}

#portfolio2 {
display: inline-block;
height: 628px;
width: 100%;
}

#painting2 {
padding: 25px;
width: 50%;
}

#info2 {
top: 470px;
right: 474px;
width: 170px;
font-size: 18px;
}

#portfolioframed2 {
display: inline-block;
height: 421px;
width: 100%;
}

#paintingframed2 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 100%;
width: 33.5%;
}

#bio2 {
bottom: 240px;
left: 110px;
width: 700px;
height: 0px;
font-size: 20px;
}

#portfolio3 {
display: inline-block;
height: 642px;
width: 100%;
}

#painting3 {
padding: 25px;
width: 50%;
}

#info3 {
top: 470px;
right: 474px;
width: 170px;
font-size: 18px;
}

#paintingframed3 {
padding: 25px;
padding-left: 100%;
width: 35%;
}

#bio3 {
bottom: 255px;
left: 110px;
width: 700px;
height: 0px;
font-size: 20px;
}

#nxtpge {
padding: 10px;
font-size: 34px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
font-size: 20px;
margin-left: 5%;
margin-top: 40px;
}

#footerright2 {
font-size: 20px;
margin-right: 5%;
margin-top: 40px;
}
}

@media (max-width: 1366px) {

#all {
height: 100%;
width: 100%;
}

#header {
height: 220px;
font-size: 32px;
letter-spacing: 5px;
width: 1346px;
padding: 10px 10px 10px 10px;
}

#portfolio1 {
display: inline-block;
height: 485px;
width: 100%;
}

#painting1 {
width: 49%;
}

#info1 {
top: 340px;
right: 443px;
width: 170px;
font-size: 18px;
}

#portfolioframed1 {
display: inline-block;
height: 364px;
width: 100%;
}

#paintingframed1 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 100%;
width: 31.5%;
}

#bio1 {
bottom: 220px;
left: 100px;
width: 700px;
height: 0px;
font-size: 20px;
}

#portfolio2 {
display: inline-block;
height: 586px;
width: 100%;
}

#painting2 {
padding: 25px;
width: 49%;
}

#info2 {
top: 443px;
right: 443px;
width: 170px;
font-size: 18px;
}

#portfolioframed2 {
display: inline-block;
height: 402px;
width: 100%;
}

#paintingframed2 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 100%;
width: 33.5%;
}

#bio2 {
bottom: 220px;
left: 100px;
width: 700px;
height: 0px;
font-size: 20px;
}

#portfolio3 {
display: inline-block;
height: 600px;
width: 100%;
}

#painting3 {
padding: 25px;
width: 49%;
}

#info3 {
top: 447px;
right: 443px;
width: 170px;
font-size: 18px;
}

#paintingframed3 {
padding: 25px;
padding-left: 100%;
width: 35%;
}

#bio3 {
bottom: 220px;
left: 100px;
width: 700px;
height: 0px;
font-size: 20px;
}

#nxtpge {
padding: 10px;
font-size: 34px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
font-size: 20px;
margin-left: 5%;
margin-top: 40px;
}

#footerright2 {
font-size: 20px;
margin-right: 5%;
margin-top: 40px;
}
}

@media (max-width: 1280px) {

#all {
height: 100%;
width: 1280px;
margin: 0;
}

#header {
height: 230px;
font-size: 34px;
letter-spacing: 3px;
padding: 1px 10px 10px 10px;
}

#portfolio1 {
display: inline-block;
height: 466px;
width: 100%;
}

#painting1 {
width: 50%;
}

#info1 {
top: 325px;
right: 392px;
width: 170px;
font-size: 18px;
}

#portfolioframed1 {
display: inline-block;
height: 343px;
width: 100%;
}

#paintingframed1 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 905px;
width: 31.5%;
}

#bio1 {
bottom: 200px;
left: 61px;
width: 700px;
height: 0px;
font-size: 21px;
}

#portfolio2 {
display: inline-block;
height: 563px;
width: 100%;
}

#painting2 {
padding: 25px;
width: 50%;
}

#info2 {
top: 424px;
right: 400px;
width: 170px;
font-size: 18px;
}

#portfolioframed2 {
display: inline-block;
height: 380px;
width: 100%;
}

#paintingframed2 {
position: relative;
padding: 25px;
background-color: #546875;
float: right;
clear: left;
padding-left: 872px;
width: 33.5%;
}

#bio2 {
bottom: 247px;
left: 61px;
width: 700px;
height: 0px;
font-size: 21px;
}

#portfolio3 {
display: inline-block;
height: 576px;
width: 100%;
}

#painting3 {
padding: 25px;
width: 50%;
}

#info3 {
top: 424px;
right: 395px;
width: 170px;
font-size: 18px;
}

#paintingframed3 {
padding: 25px;
padding-left: 853px;
width: 35%;
}

#bio3 {
bottom: 225px;
left: 61px;
width: 700px;
height: 0px;
font-size: 21px;
}

#nxtpge {
padding: 10px;
font-size: 41px;
}

#footer2 {
height: 150px;
width: 1280px;
}

#footerleft2 {
font-size: 25px;
margin-left: 5%;
margin-top: 53px;
}

#footerright2 {
font-size: 25px;
margin-right: 5%;
margin-top: 53px;
}
}

@media (max-width: 992px) {

.biotext {
display: none;
}

#all {
height: 100%;
width: 992px;
margin: 0;
}

#header {
height: 200px;
font-size: 31px;
letter-spacing: 3px;
padding: 10px;
}

#portfolio1 {
display: inline-block;
height: 538px;
}

#painting1 {
padding: 10px;
float: left;
width: 80%;
}

#info1 {
float: left;
clear: left;
top: 140px;
left: 115px;
width: 161px;
font-size: 22px;
}

#portfolioframed1 {
display: inline-block;
height: 375px;
}

#paintingframed1 {
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#portfolio2 {
display: inline-block;
height: 577px;
}

#painting2 {
padding: 10px;
float: left;
clear: right;
width: 70%;
}

#info2 {
float: left;
clear: left;
top: 140px;
left: 115px;
width: 161px;
font-size: 22px;
}

#portfolioframed2{
display: inline-block;
height: 379px;
}

#paintingframed2 {
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#portfolio3 {
display: inline-block;
height: 674px;
}

#painting3 {
padding: 10px;
float: left;
clear: right;
width: 80%;
}

#info3 {
float: left;
clear: left;
top: 140px;
left: 115px;
width: 161px;
font-size: 22px;
}

#paintingframed3 { 
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#nxtpge {
font-size: 31px;
padding: 10px;
height: 40px;
}

#footer2 {
height: 100px;
width: 992px;
}

#footerleft2 {
font-size: 25px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 25px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 768px) {

.biotext {
display: none;
}
	
#all {
height: 100%;
width: 768px;
margin: 0;
}

#header {
height: 200px;
font-size: 31px;
letter-spacing: 3px;
width: 748px;
padding: 10px;
}

#portfolio1 {
display: inline-block;
height: 420px;
}

#painting1 {
padding: 10px;
float: left;
width: 80%;
}

#info1 {
float: left;
clear: left;
top: 100px;
left: 100px;
width: 150px;
font-size: 20px;
}

#portfolioframed1 {
display: inline-block;
height: 294px;
}

#paintingframed1 {
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#portfolio2 {
display: inline-block;
height: 451px;
}

#painting2 {
padding: 10px;
float: left;
clear: right;
width: 70%;
}

#info2 {
float: left;
clear: left;
top: 100px;
left: 100px;
width: 150px;
font-size: 20px;
}

#portfolioframed2{
display: inline-block;
height: 297px;
}

#paintingframed2 {
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#portfolio3 {
display: inline-block;
height: 525px;
}

#painting3 {
padding: 10px;
float: left;
clear: right;
width: 80%;
}

#info3 {
float: left;
clear: left;
top: 100px;
left: 100px;
width: 150px;
font-size: 20px;
}

#paintingframed3 { 
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio3 {
display: none;
}

#nxtpge {
font-size: 31px;
padding: 10px;
height: 40px;
}

#footer2 {
height: 100px;
width: 768px;
}

#footerleft2 {
font-size: 18px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 18px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 601px) {

.biotext {
display: none;
}

#all {
height: 100%;
width: 601px;
margin: 0;
}

#header {
height: 133px;
font-size: 23px;
letter-spacing: 3px;
width: 581px;
padding: 1px 10px 10px 10px;
}

#portfolio1 {
display: inline-block;
height: 332px;
}

#painting1 {
padding: 10px;
float: left;
width: 80%;
}

#info1 {
float: left;
top: 67px;
left: 67px;
width: 140px;
font-size: 17px;
}

#portfolioframed1 {
display: inline-block;
height: 233px;
}

#paintingframed1 {
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#portfolio2 {
display: inline-block;
height: 356px;
}

#painting2 {
padding: 10px;
float: left;
clear: right;
width: 70%;
}

#info2 {
float: left;
clear: left;
top: 67px;
left: 67px;
width: 140px;
font-size: 17px;
}

#portfolioframed2{
display: inline-block;
height: 236px;
}

#paintingframed2 {
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#portfolio3 {
display: inline-block;
height: 414px;
}

#painting3 {
padding: 10px;
float: left;
clear: right;
width: 80%;
}

#info3 {
float: left;
clear: right;
top: 67px;
left: 67px;
width: 140px;
font-size: 17px;
}

#paintingframed3 { 
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio3 {
display: none;
}

#nxtpge {
font-size: 27px;
padding: 10px;
}

#footer2 {
height: 100px;
width: 601px;
}

#footerleft2 {
font-size: 17px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 17px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 480px) {
	
.biotext {
display: none;
}
	
#all {
height: 100%;
width: 480px;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 460px;
padding: 10px;
}


#portfolio1 {
display: inline-block;
height: 268px;
}

#painting1 {
padding: 10px;
float: left;
width: 80%;
}

#info1 {
float: left;
top: 50px;
left: 50px;
width: 115px;
font-size: 15px;
}

#portfolioframed1 {
display: inline-block;
height: 190px;
}


#paintingframed1 {
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#portfolio2 {
display: inline-block;
height: 287px;
}

#painting2 {
padding: 10px;
float: left;
clear: right;
width: 70%;
}

#info2 {
float: left;
clear: left;
top: 50px;
left: 50px;
width: 115px;
font-size: 15px;
}

#portfolioframed2{
display: inline-block;
height: 191px;
}

#paintingframed2 {
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#portfolio3 {
display: inline-block;
height: 334px;
}

#painting3 {
padding: 10px;
float: left;
clear: right;
width: 80%;
}

#info3 {
float: left;
clear: right;
top: 50px;
left: 50px;
width: 115px;
font-size: 15px;
}

#paintingframed3 { 
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio3 {
display: none;
}

#nxtpge {
font-size: 27px;
padding: 10px;
}

#footer2 {
height: 80px;
width: 480px;
}

#footerleft2 {
font-size: 14px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 14px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 414px) {
	
.biotext {
display: none;
}

#all {
height: 100%;
width: 414px;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 394px;
padding: 10px;
}

#portfolio1 {
display: inline-block;
height: 233px;
}

#painting1 {
padding: 10px;
float: left;
width: 80%;
}

#info1 {
float: left;
top: 40px;
left: 40px;
width: 115px;
font-size: 14px;
}

#portfolioframed1 {
display: inline-block;
height: 165px;
}


#paintingframed1 {
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio1 {	
display: none;
}

#portfolio2 {
display: inline-block;
height: 251px;
}

#painting2 {
padding: 10px;
float: left;
clear: right;
width: 70%;
}

#info2 {
float: left;
top: 40px;
left: 40px;
width: 115px;
font-size: 14px;
}

#portfolioframed2{
display: inline-block;
height: 167px;
}

#paintingframed2 {
padding: 10px;
float: right;
clear: left;
width: 47%;
}

#bio2 {
display: none;	
}

#portfolio3 {
display: inline-block;
height: 290px;
}

#painting3 {
padding: 10px;
float: left;
clear: right;
width: 80%;
}

#info3 {
float: left;
clear: right;
top: 31px;
left: 40px;
width: 115px;
font-size: 14px;
}

#paintingframed3 { 
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio3 {
display: none;	
}

#nxtpge {
font-size: 25px;
padding: 10px;
}

#footer2 {
height: 80px;
width: 414px;
}

#footerleft2 {
font-size: 12px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 12px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 375px) {
	
.biotext {
display: none;
}

#all {
height: 100%;
width: 375px;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 355px;
padding: 10px;
}

#portfolio1 {
display: inline-block;
height: 213px;
}

#painting1 {
padding: 10px;
float: left;
width: 80%;
}

#info1 {
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#portfolioframed1 {
display: inline-block;
height: 151px;
}

#paintingframed1 {
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio1 {	
display: none;
}

#portfolio2 {
display: inline-block;
height: 227px;
}

#painting2 {
padding: 10px;
float: left;
clear: right;
width: 70%;
}

#info2 {
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
}

#portfolioframed2{
display: inline-block;
height: 162px;
}

#paintingframed2 {
padding: 10px;
float: right;
clear: left;
width: 50%;
}

#bio2 {
display: none;	
}

#portfolio3 {
display: inline-block;
height: 264px;
}

#painting3 {
padding: 10px;
float: left;
clear: right;
width: 80%;
}

#info3 {
float: left;
clear: right;
top: 31px;
left: 40px;
width: 110px;
font-size: 14px;
}

#paintingframed3 { 
padding: 10px;
float: right;
clear: left;
width: 49%;
}

#bio3 {
display: none;	
}

#nxtpge {
clear: both;
text-align: center;
padding: 10px; 
font-size: 25px;
}

#footer2 {
height: 80px;
width: 375px;
}

#footerleft2 {
font-size: 12px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 12px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 360px) {
	
.biotext {
display: none;
}
	
#all {
height: 100%;
width: 360px;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 340px;
padding: 10px;
}

#portfolio1 {
display: inline-block;
height: 205px;
}


#painting1 {
padding: 10px;
width: 80%;
}

#info1 {
position: relative;
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
font-family: candara, sans-serif;
color: black
}

#portfolioframed1 {
display: inline-block;
height: 146px;
}

#paintingframed1 {
position: relative;
padding: 10px;
float: right;
clear: left;
width: 49%;
background-color: #546875;
}

#portfolio2 {
display: inline-block;
height: 219px;
}

#painting2 {
position: relative;
padding: 10px;
float: left;
clear: right;
width: 70%;
background-color: #546875;
}

#info2 {
position: relative;
float: left;
top: 40px;
left: 40px;
width: 110px;
font-size: 14px;
font-family: candara, sans-serif;
color: black;
}

#portfolioframed2 {
display: inline-block;
height: 147px;
}

#paintingframed2 {
position: relative;
padding: 10px;
float: right;
clear: left;
background-color: #546875;
width: 47%;
}

#bio2 {
display: none;	
position: relative;
float: left;
bottom: 0px;
left: 0px;
width: 0px;
height: 0px;
font-size: 0px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFEEBD; 
}

#portfolio3 {
display: inline-block;
height: 253px;
}

#painting3 {
position: relative;
padding: 10px;
float: left;
clear: right;
width: 80%;
background-color: #546875;
}

#info3 {
position: relative;
float: left;
clear: right;
top: 31px;
left: 40px;
width: 110px;
font-size: 14px;
font-family: candara, sans-serif;
color: black
}

#paintingframed3 { 
position: relative;
padding: 10px;
float: right;
clear: left;
width: 49%;
background-color: #546875;
}

#bio3 {
display: none;	
position: relative;
float: left;
bottom: 0px;
left: 0px;
width: 0px;
height: 0px;
font-size: 0px;
font-family: Aboreto, "Times New Roman", georgia;
color: #FFEEBD;
}

#nxtpge {
position: relative;
clear: both;
text-align: center;
color: #FFEEBD;
background-color: #829BB9;
padding: 10px;
text-decoration: underline;
}

#portfolio {
color: #FFEEBD;
text-decoration: none;
font-size: 25px;
}

#footer2 {
height: 85px;
width: 360px;
}

#footerleft2 {
font-size: 11px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 11px;
margin-right: 5%;
margin-top: 38px;
}
}
