#all {
background-color: #546875;
height: 100%;
width: 100%;
}

#header {
background-color: #829BB9;
color: white; 
text-align: center;
font-family: Aboreto, "Times New Roman", georgia;
height: 180px;
padding-top: 65px;
padding-bottom: 65px;
font-size: 25px;
letter-spacing: 3px;
}

#headertext {
color: white;
text-decoration: none;
}

#PrintsTitle {
text-align: center;
font-size: 34px;
padding: 40px 0 40px 0;
color: #FFEEBD;
background-color:#546875;
}

#printcon2 {
display: none;
}

#printcon {
width: 67%;
margin-left: auto;
margin-right: auto;
}

#section1 {
float: left;
font-size: 20px;
color: #FFEEBD;
}

#section2 {
float: left;
font-size: 20px;
color: #FFEEBD;
}

#section3 {
float: left;
font-size: 20px;
color: #FFEEBD;
margin-bottom: 50px;
}

#printish2 {
display: none;
}

#Prints {
width: 40%;
float: left;
padding: 15px;
margin-right: 20px;
background-color: #A4BECF;
}

#PrintMounts{
width: 40%;
float: right;
padding: 15px;
margin-left: 20px;
clear: both;
background-color: #A4BECF;
}

#Postcards{
width: 40%;
float: left;
padding: 15px;
margin-right: 20px;
clear: both;
background-color: #A4BECF;
}

#Home {
position: relative;
clear: both;
text-align: center;
font-size: 31px;
color: #FFEEBD;
background-color: #829BB9;
padding: 10px;
text-decoration: underline;
}

#portfolio {
color: #FFEEBD;
text-decoration: none;
}

#footer {
	display: none;
position: relative;
background-color: #829BB9;
height: 100px;
width: 100%;
clear: both;
}

#footerleft {
position: absolute;
left: 100px;
font-size: 17px;
font-family: candara, sans-serif;
bottom: 50%
}

#footerright {
position: absolute;
right: 100px;
font-size: 17px;
font-family: candara, sans-serif;
bottom: 50%
}

#footer2 {
position: relative;
background-color: #829BB9;
height: 100px;
width: 100%;
}

#footerleft2 {
display: inline-block;
font-size: 19px;
font-family: candara, sans-serif;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
float: right;
font-size: 19px;
font-family: candara, sans-serif;
margin-right: 10%;
margin-top: 38px;
}

@media (max-width: 1920px) {

#all {
height: 100%;
width: 100%;
}

#header {
height: 161px;
padding-top: 10px;
padding-bottom: 65px;
font-size: 34px;
letter-spacing: 10px;
}

#headertext {
color: white;
text-decoration: none;
}

#PrintsTitle {
font-size: 49px;
padding: 40px 0 40px 0;
letter-spacing: 2px;
}

#printcon2 {
display: none;
}

#printcon {
width: 67%;
}

#section1 {
font-size: 27px;
}

#section2 {
font-size: 27px;
}

#section3 {
float: left;
font-size: 27px;
}

#printish2 {
display: none;
}

#Prints {
width: 40%;
padding: 15px;
}

#PrintMounts{
width: 40%;
padding: 15px;
}

#Postcards{
width: 40%;
padding: 15px;
margin-right: 20px;
margin-top: 100px;
}

#Home {
font-size: 31px;
padding: 10px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
font-size: 19px;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
font-size: 19px;
margin-right: 10%;
margin-top: 38px;
}
}

@media (max-width: 1440px) {

#all {
height: 100%;
width: 100%;
}

#header {
height: 161px;
padding-top: 10px;
padding-bottom: 65px;
font-size: 34px;
letter-spacing: 10px;
}

#headertext {
color: white;
text-decoration: none;
}

#PrintsTitle {
font-size: 45px;
padding: 40px 0 40px 0;
letter-spacing: 2px;
}

#printcon2 {
display: none;
}

#printcon {
width: 67%;
}

#section1 {
font-size: 24px;
}

#section2 {
font-size: 24px;
}

#section3 {
float: left;
font-size: 24px;
}

#printish2 {
display: none;
}

#Prints {
width: 40%;
padding: 15px;
}

#PrintMounts{
width: 40%;
padding: 15px;
}

#Postcards{
width: 40%;
padding: 15px;
margin-right: 20px;
margin-top: 100px;
}

#Home {
font-size: 31px;
padding: 10px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
font-size: 19px;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
font-size: 19px;
margin-right: 10%;
margin-top: 38px;
}
}

@media (max-width: 1366px) {

#all {
height: 100%;
width: 100%;
}

#header {
height: 140px;
padding-top: 10px;
padding-bottom: 65px;
font-size: 31px;
letter-spacing: 7px;
}

#headertext {
color: white;
text-decoration: none;
}

#PrintsTitle {
font-size: 43px;
padding: 40px 0 40px 0;
letter-spacing: 2px;
}

#printcon2 {
display: none;
}

#printcon {
width: 67%;
}

#section1 {
font-size: 23px;
}

#section2 {
font-size: 23px;
}

#section3 {
float: left;
font-size: 23px;
}

#printish2 {
display: none;
}

#Prints {
width: 40%;
padding: 15px;
}

#PrintMounts{
width: 40%;
padding: 15px;
}

#Postcards{
width: 40%;
padding: 15px;
margin-right: 20px;
margin-top: 100px;
}

#Home {
font-size: 31px;
padding: 10px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
font-size: 19px;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
font-size: 19px;
margin-right: 10%;
margin-top: 38px;
}
}

@media (max-width: 1280px) {

#all {
height: 100%;
width: 100%;
}

#header {
height: 140px;
padding-top: 10px;
padding-bottom: 65px;
font-size: 31px;
letter-spacing: 7px;
}

#headertext {
color: white;
text-decoration: none;
}

#PrintsTitle {
font-size: 43px;
padding: 40px 0 40px 0;
letter-spacing: 2px;
}

#printcon2 {
display: none;
}

#printcon {
width: 67%;
}

#section1 {
font-size: 23px;
}

#section2 {
font-size: 23px;
}

#section3 {
float: left;
font-size: 23px;
}

#printish2 {
display: none;
}

#Prints {
width: 40%;
padding: 15px;
}

#PrintMounts{
width: 40%;
padding: 15px;
}

#Postcards{
width: 40%;
padding: 15px;
margin-right: 20px;
margin-top: 100px;
}

#Home {
font-size: 31px;
padding: 10px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
font-size: 19px;
margin-left: 10%;
margin-top: 38px;
}

#footerright2 {
font-size: 19px;
margin-right: 10%;
margin-top: 38px;
}
}

@media (max-width: 992px) {
#all {
height: 100%;
width: 100%;
margin: 0;
}

#header {
height: 200px;
font-size: 31px;
letter-spacing: 3px;
padding: 10px;
}

#PrintsTitle {
font-size: 47px;
padding: 40px 0 40px 0;
}

#printcon {
display: none;
}

#printcon2 {
display: block;
width: 85%;
margin-left: auto;
margin-right: auto;
}

#section1 {
float: left;
font-size: 25px;
}

#section2 {
float: right;
font-size: 25px;

}

#section3 {
float: left;
font-size: 25px;
margin-bottom: 50px;
}

#Prints {
width: 37%;
float: left;
padding: 10px;
margin-right: 20px;
}

#PrintMounts{
width: 40%;
float: right;
padding: 10px;
margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;
clear: both;
}

#Postcards{
width: 46%;
float: left;
padding: 10px;
margin-top: 20px;
margin-right: 20px;
clear: both;
}

#Home {
padding: 10px;
font-size: 31px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
font-size: 20px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 20px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 768px) {
#all {
height: 100%;
width: 100%;
margin: 0;
}

#header {
height: 140px;
font-size: 27px;
letter-spacing: 3px;
padding-top: 5px;
padding-bottom: 40px;
}

#PrintsTitle {
font-size: 43px;
padding: 40px 0 40px 0;
}

#printcon {
display: none;
}

#printcon2 {
display: block;
width: 85%;
margin-left: auto;
margin-right: auto;
}

#section1 {
float: left;
font-size: 20px;
}

#section2 {
float: right;
font-size: 20px;

}

#section3 {
float: left;
font-size: 20px;
margin-bottom: 50px;
}

#Prints {
width: 37%;
float: left;
padding: 10px;
margin-right: 20px;
}

#PrintMounts{
width: 40%;
float: right;
padding: 10px;
margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;
clear: both;
}

#Postcards{
width: 46%;
float: left;
padding: 10px;
margin-top: 20px;
margin-right: 20px;
clear: both;
}

#Home {
font-size: 31px;
padding: 10px;
height: 40px;
}

#footer2 {
height: 100px;
width: 100%;
}

#footerleft2 {
font-size: 18px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 18px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 601px) {
#all {
height: 100%;
width: 601px;
margin: 0;
}

#header {
height: 133px;
font-size: 23px;
letter-spacing: 3px;
width: 581px;
padding: 1px 10px 10px 10px;
}

#PrintsTitle {
font-size: 43px;
padding: 40px 0 40px 0;
}

#printcon {
display: none;
}

#printcon2 {
display: block;
width: 85%;
margin-left: auto;
margin-right: auto;
}

#section1 {
float: left;
font-size: 20px;
}

#section2 {
float: right;
font-size: 20px;

}

#section3 {
float: left;
font-size: 20px;
margin-bottom: 50px;
}

#Prints {
width: 40%;
float: left;
padding: 10px;
margin-right: 20px;
}

#PrintMounts{
width: 40%;
float: right;
padding: 10px;
margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;
clear: both;
}

#Postcards{
width: 46%;
float: left;
padding: 10px;
margin-top: 20px;
margin-right: 20px;
clear: both;
}

#Home {
font-size: 31px;
padding: 10px;
height: 40px;
}

#footer2 {
height: 100px;
width: 601px;
}

#footerleft2 {
font-size: 17px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 17px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 480px) {

#all {
height: 100%;
width: 480px;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 460px;
padding: 10px;
}

#PrintsTitle {
font-size: 43px;
padding: 40px 0 40px 0;
}

#printcon {
display: none;
}

#printcon2 {
display: block;
width: 85%;
margin-left: auto;
margin-right: auto;
}

#section1 {
float: left;
font-size: 20px;
}

#section2 {
float: right;
font-size: 20px;

}

#section3 {
float: left;
font-size: 20px;
margin-bottom: 50px;
}

#Prints {
width: 40%;
float: left;
padding: 10px;
margin-right: 20px;
}

#PrintMounts{
width: 40%;
float: right;
padding: 10px;
margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;
clear: both;
}

#Postcards{
width: 46%;
float: left;
padding: 10px;
margin-top: 20px;
margin-right: 20px;
clear: both;
}

#Home {
font-size: 25px;
padding: 10px;
height: 40px;
}

#footer2 {
height: 100px;
width: 480px;
}

#footerleft2 {
font-size: 14px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 14px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 414px) {

#all {
height: 100%;
width: 414px;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 394px;
padding: 10px;
}

#PrintsTitle {
font-size: 40px;
padding: 40px 0 40px 0;
}

#printcon {
display: none;
}

#printcon2 {
display: block;
width: 85%;
margin-left: auto;
margin-right: auto;
}

#section1 {
float: left;
font-size: 20px;
}

#section2 {
float: right;
font-size: 20px;
}

#section3 {
float: left;
font-size: 20px;
margin-bottom: 50px;
}

#Prints {
width: 40%;
float: left;
padding: 10px;
margin-right: 20px;
}

#PrintMounts{
width: 40%;
float: right;
padding: 10px;
margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;
clear: both;
}

#Postcards{
width: 46%;
float: left;
padding: 10px;
margin-top: 20px;
margin-right: 20px;
clear: both;
}

#Home {
font-size: 25px;
padding: 10px;
height: 31px;
}

#footer2 {
height: 100px;
width: 414px;
}

#footerleft2 {
font-size: 12px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 12px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 375px) {

#all {
height: 100%;
width: 375px;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 355px;
padding: 10px;
}

#PrintsTitle {
font-size: 40px;
padding: 40px 0 40px 0;
}

#printcon {
display: none;
}

#printcon2 {
display: block;
width: 85%;
margin-left: auto;
margin-right: auto;
}

#section1 {
float: left;
font-size: 20px;
color: #FFEEBD;
}

#section2 {
float: right;
font-size: 20px;
}

#section3 {
float: left;
font-size: 20px;
margin-bottom: 50px;
}

#Prints {
width: 40%;
float: left;
padding: 10px;
margin-right: 20px;
}

#PrintMounts{
width: 40%;
float: right;
padding: 10px;
margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;
clear: both;
}

#Postcards{
width: 46%;
float: left;
padding: 10px;
margin-top: 20px;
margin-right: 20px;
clear: both;
}

#Home {
font-size: 25px;
padding: 10px;
height: 31px;
}

#footer2 {
height: 100px;
width: 375px;
}

#footerleft2 {
font-size: 12px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 12px;
margin-right: 5%;
margin-top: 38px;
}
}

@media (max-width: 360px) {

#all {
height: 100%;
width: 100%;
margin: 0;
}

#header {
height: 124px;
font-size: 20px;
letter-spacing: 3px;
width: 340px;
padding: 10px;
}

#PrintsTitle {
font-size: 31px;
padding: 40px 0 40px 0;
}

#printcon {
display: none;
}

#printcon2 {
display: block;
width: 85%;
margin-left: auto;
margin-right: auto;
}

#section1 {
float: left;
font-size: 19px;
}

#section2 {
float: right;
font-size: 19px;
color: #FFEEBD;
}

#section3 {
float: left;
font-size: 19px;
margin-bottom: 50px;
}

#Prints {
width: 40%;
float: left;
padding: 10px;
margin-right: 20px;
}

#PrintMounts{
width: 40%;
float: right;
padding: 10px;
margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;
clear: both;
}

#Postcards{
width: 46%;
float: left;
padding: 10px;
margin-top: 20px;
margin-right: 20px;
clear: both;
}

#Home {
font-size: 25px;
padding: 10px;
height: 31px;
}

#footer2 {
height: 100px;
width: 360px;
}

#footerleft2 {
font-size: 11px;
margin-left: 5%;
margin-top: 38px;
}

#footerright2 {
font-size: 11px;
margin-right: 5%;
margin-top: 38px;
}
}
